
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta charset="utf-8" /><title>
	The Manor Huế | Dự án Dự án khác | dothi.net
</title><link href="/Images/favicon.ico?v=1" rel="shortcut icon" type="image/x-icon" /><link href="Styles/reset.css" rel="stylesheet" />
    <link href="Styles/Styles.min.css?v=20150922" rel="stylesheet" />
    <link href="Scripts/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <!-- Scripts -->

    <script src="Scripts/jquery-1.7.2.min.js"></script>
    <script src="Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="Scripts/ExcoloSlider/jquery.excoloSlider.js"></script>
    <link href="Scripts/ExcoloSlider/jquery.excoloSlider.css" rel="stylesheet" /><link rel="stylesheet" type="text/css" href="Scripts/Fancybox/source/jquery.fancybox.css" media="all" />
    <script type="text/javascript" src="Scripts/Fancybox/source/jquery.fancybox.js"></script>
    <script src="Scripts/Common.min.js?v=20150922"></script>
    <script type="text/javascript" src="Scripts/jquery.placeholder.min.js"></script>
    <script src="Scripts/jquery.cookie-1.4.1.js" type="text/javascript"></script>
    <script type="text/javascript">
        var domainCookie = '172.16.15.55'
        var productId = '0';
        var userId = '';
    </script>
    <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    //js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=711922948870179&version=v2.0";
    js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
    </script>
    <meta name="keywords" content="The, Manor, Huế, |, Dự, án, Dự, án, khác" /><meta name="description" content="The Manor Huế Dự án Dự án khác dothi.net" />
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-54660981-1', 'auto');
        ga('send', 'pageview');

    </script>
    
<link media="only screen and (max-width: 640px)" rel="alternate" href="http://m.dothi.net/du-an-khac-hue/the-manor-hue-pj2239.htm" /><link media="handheld" rel="alternate" href="http://m.dothi.net/du-an-khac-hue/the-manor-hue-pj2239.htm" /><meta name="title" /><meta name="description" content="The Manor Huế Dự án Dự án khác dothi.net" /></head>
<body>
    <form method="post" action="/du-an-khac-hue/the-manor-hue-pj2239.htm" id="Form1">
<div class="aspNetHidden">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTI2NzU2NjUyNGRkDwzPEymUWzqsd6m25l7vKtMuGoc=" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['Form1'];
if (!theForm) {
    theForm = document.Form1;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


        <!-- Header -->
        
<div id="wr_header" class="header">
    
<div class="header-register" id="headerregister">
    <div class="action">
        
        
        <div class="logon">
            <a href="/dang-nhap.htm" rel="nofollow" title="Đăng nhập">
                <span>Đăng nhập</span>
            </a>
        </div>
        <div class="register">
            <a href="/dang-ky.htm" rel="nofollow" title="Đăng ký">
                <span>Đăng ký</span>
            </a>
        </div>

        
    </div>
</div>

    <div class="header-logo">
        <div class="hdcontent">
            <div class="content-logo">
                <a href="/" title="Đô thị">
                    <img src="Images/logo.png" alt="Đô thị"></a>
            </div>
            <div class="MultiBanner1 content-banner" id="Banner" style="display: none">
                
                <a href="http://banxehoi.com" target="_blank" rel="nofollow">
                    <img src="Images/banner/746x96-dang-tin-mua-ban-de-dang.gif" /></a>
            </div>
            <div class="MultiBanner2 content-banner" id="Banner2" style="display:none">
                <embed width="746" height="96" quality="high" name="plugin" src="Images/banner/banner-150820-728x90.swf" type="application/x-shockwave-flash" flashvars="link=http://file.dothi.net/KM/dang-tin-rinh-qua-khung.html" wmode="transparent">
            </div>

            <div class="MultiBanner3 content-banner" id="Banner3" style="display: none">
                <embed width="746" height="96" quality="high" name="plugin" src="Images/banner/banner_top_vinhome_hcm.swf" type="application/x-shockwave-flash" flashvars="link=http://canholandmark81.com/mat-bang-the-park-1-vinhomes-central-park-11170.html" wmode="transparent">
            </div>

            <div class="MultiBanner4 content-banner" style="display: none">
                <a href="http://dothi.net/ban-dat-nen-du-an-kdc-phu-nhuan-phuoc-long-b/sieu-thi-dat-nen-du-an-phu-nhuan-quan-9-0907107686-pr3288166.htm" target="_blank">
                    <img src="Images/banner/banner-dat-nen-du-an-phu-nhuan-728x90.gif" /></a>
            </div>

            
        </div>
    </div>
    <script type="text/javascript">
        function detectmob() {
            if (navigator.userAgent.match(/Android/i)
         || navigator.userAgent.match(/webOS/i)
         || navigator.userAgent.match(/iPhone/i)
         || navigator.userAgent.match(/iPad/i)
         || navigator.userAgent.match(/iPod/i)
         || navigator.userAgent.match(/BlackBerry/i)
         || navigator.userAgent.match(/Windows Phone/i)
         ) {
                return true;
            }
            else {
                return false;
            }
        }

        if (detectmob()) {
            //$("#Banner").html('<a title="banxehoi.com" target="_blank" href="http://banxehoi.com"><img  style="width:746px; height:96px" src="Images/banner/banxehoi746x96.gif"></a>');
        }
        //setInterval(function () {
        //    $('.MultiBanner1').toggle();
        //    $('.MultiBanner2').toggle();
        //}, 10000);

    </script>

</div>

        <!-- End Header -->
        <!-- Me nú -->
        
<div class="menu">
    <div class="menu-content">
        <ul class="nav-menu">
            <li class="lv0 ">
                <a href="/" title="Trang chủ">Trang chủ
                </a>
            </li>
            <li class="lv0">
                <a href="/nha-dat-ban.htm" title="BĐS bán">BĐS bán</a>
                <ul class="dropdown-menu">
                    <li><a href="/ban-can-ho-chung-cu.htm" title="Bán căn hộ chung cư">Bán căn hộ chung cư</a></li>
                    <li><a href="/ban-nha-dat.htm" title="Tất cả các loại nhà bán">Tất cả các loại nhà bán</a></li>
                    <li><a href="/ban-nha-rieng.htm" title="Bán nhà riêng">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bán nhà riêng</a></li>
                    <li><a href="/ban-nha-biet-thu-lien-ke.htm" title="Bán nhà biệt thự, liền kề">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bán nhà biệt thự, liền kề</a></li>
                    <li><a href="/ban-nha-mat-pho.htm" title="Bán nhà mặt phố">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bán nhà mặt phố</a></li>
                    <li><a href="/ban-dat-dat-nen.htm" title="Tất cả các loại đất bán">Tất cả các loại đất bán</a></li>
                    <li><a href="/ban-dat-nen-du-an.htm" title="Bán đất nền dự án">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bán đất nền dự án</a></li>
                    <li><a href="/ban-dat.htm" title="Bán đất">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bán đất</a></li>
                    <li><a href="/ban-trang-trai-khu-nghi-duong.htm" title="Bán trang trại, khu nghỉ dưỡng">Bán trang trại, khu nghỉ dưỡng</a></li>
                    <li><a href="/ban-kho-nha-xuong.htm" title="Bán kho, nhà xưởng">Bán kho, nhà xưởng</a></li>
                    <li><a href="/ban-loai-bat-dong-san-khac.htm" title="Bán loại bất động sản khác">Bán loại bất động sản khác</a></li>
                </ul>
            </li>
            <li class="lv0">
                <a href="/nha-dat-cho-thue.htm" title="BĐS cho thuê">BĐS cho thuê</a>
                <ul class="dropdown-menu">
                    <li><a href="/cho-thue-can-ho-chung-cu.htm" title="Cho thuê căn hộ chung cư">Cho thuê căn hộ chung cư</a></li>
                    <li><a href="/cho-thue-nha-rieng.htm" title="Cho thuê nhà riêng">Cho thuê nhà riêng</a></li>
                    <li><a href="/cho-thue-nha-mat-pho.htm" title="Cho thuê nhà mặt phố">Cho thuê nhà mặt phố</a></li>
                    <li><a href="/cho-thue-nha-tro-phong-tro.htm" title="Cho thuê nhà trọ, phòng trọ">Cho thuê nhà trọ, phòng trọ</a></li>
                    <li><a href="/cho-thue-van-phong.htm" title="Cho thuê văn phòng">Cho thuê văn phòng</a></li>
                    <li><a href="/cho-thue-cua-hang-ki-ot.htm" title="Cho thuê cửa hàng, ki ốt">Cho thuê cửa hàng, ki ốt</a></li>
                    <li><a href="/cho-thue-kho-nha-xuong-dat.htm" title="Cho thuê kho, nhà xưởng, đất">Cho thuê kho, nhà xưởng, đất</a></li>
                    <li><a href="/cho-thue-loai-bat-dong-san-khac.htm" title="Cho thuê loại bất động sản khác">Cho thuê loại bất động sản khác</a></li>
                </ul>
            </li>
            <li class='lv0'><a href="/tin-tuc.htm" title="Tin tức">Tin tức</a><ul class="dropdown-menu"><li><a href="/tin-thi-truong.htm" title="Tin thị trường">Tin thị trường</a></li><li><a href="/chinh-sach-quy-hoach.htm" title="Chính sách - Quy Hoạch">Chính sách - Quy Hoạch</a></li><li><a href="/tin-du-an.htm" title="Tin dự án">Tin dự án</a></li><li><a href="/bds-the-gioi.htm" title="BĐS Thế giới">BĐS Thế giới</a></li></ul></li><li class='lv0'><a href="/thiet-ke-kien-truc.htm" title="Thiết kế kiến trúc">Thiết kế kiến trúc</a><ul class="dropdown-menu"><li><a href="/tu-van-thiet-ke.htm" title="Tư vấn thiết kế
">Tư vấn thiết kế
</a></li><li><a href="/kien-thuc-xay-dung.htm" title="Kiến thức xây dựng">Kiến thức xây dựng</a></li><li><a href="/the-gioi-kien-truc.htm" title="Thế giới kiến trúc
">Thế giới kiến trúc
</a></li></ul></li><li class='lv0'><a href="/khong-gian-song.htm" title="Không gian sống">Không gian sống</a><ul class="dropdown-menu"><li><a href="/nha-dep.htm" title="Nhà đẹp">Nhà đẹp</a></li><li><a href="/noi-that.htm" title="Nội thất">Nội thất</a></li><li><a href="/ngoai-that.htm" title="Ngoại thất
">Ngoại thất
</a></li><li><a href="/mach-ban.htm" title="Mách bạn
">Mách bạn
</a></li></ul></li><li class='lv0'><a href="/phong-thuy.htm" title="Phong thủy">Phong thủy</a></li><li class='lv0'><a href="/tu-van-luat.htm" title="Tư vấn luật
">Tư vấn luật
</a></li>
            <li class="lv0">
                <a href="/du-an-bat-dong-san.htm" title="Dự án">Dự án</a>
                <ul class="dropdown-menu">
                    <li><a href="/cao-oc-van-phong.htm" title="Cao ốc văn phòng">Cao ốc văn phòng</a></li>
                    <li><a href="/khu-can-ho.htm" title="Khu căn hộ">Khu căn hộ</a></li>
                    <li><a href="/khu-do-thi-moi.htm" title="Khu đô thị mới">Khu đô thị mới</a></li>
                    <li><a href="/khu-thuong-mai-dich-vu.htm" title="Khu thương mại dịch vụ">Khu thương mại dịch vụ</a></li>
                    <li><a href="/khu-phuc-hop.htm" title="Khu phức hợp">Khu phức hợp</a></li>
                    <li><a href="/khu-dan-cu.htm" title="Khu dân cư">Khu dân cư</a></li>
                    <li><a href="/khu-du-lich-nghi-duong.htm" title="Khu du lịch nghỉ dưỡng">Khu du lịch nghỉ dưỡng</a></li>
                    <li><a href="/khu-cong-nghiep.htm" title="Khu công nghiệp">Khu công nghiệp</a></li>
                    <li><a href="/du-an-khac.htm" title="Dự án khác">Dự án khác</a></li>
                </ul>
            </li>
            
            <li class="postnew lv0"><a href="/dang-tin-ban-cho-thue-nha-dat.htm" title="Đăng tin">Đăng tin</a></li>
            
        </ul>
    </div>
</div>
<script type="text/javascript">
    var href = window.location.pathname;
    var a_return = new Array(); // Danh sách Url được active
    var AllUrl = new Array(); // arr Url
    var ElementUrl = $(".nav-menu li a");

    var arrHref = href.split("/"); // phân tích current url 

    for (var i = 0; i < ElementUrl.length; i++) {
        var abc = ElementUrl[i].toString().split("/");
        if (abc.length > 3) {
            AllUrl.push(abc[3].replace(".htm", "")); // lấy được arr url
        }
    }

    if (arrHref.length >= 2) {
        var currentUrl = arrHref[1];
        for (var i = 0; i < AllUrl.length; i++) {
            var _index = currentUrl.search(AllUrl[i]); //Duyet chuoi danh sach Url de so sanh voi Current Url
            if (_index != -1) {
                a_return.push(AllUrl[i]); //Neu la tap con cua URL thi add vao array 
            }
        }
    }

    var return_data = "";
    var return_index = 0;
    for (x in a_return) {
        if (a_return[x].length > return_index) {//so sanh do dai lon nhat trung` voi URL thi lay gia tri
            return_index = a_return[x].length;
            return_data = a_return[x]; //gia tri can lay (duy nhat 1 gia tri)
        }
    }
    var taga = $('.nav-menu,.dropdown-menu').find('a[href=\'/' + return_data + '.htm\']');

    if (taga.length > 0) {
        setActiveClass(taga, 0);
    }

    function setActiveClass(tag, interval) {
        $(".lv0").removeClass('active');
        tag.addClass('active');
        if (tag.hasClass('lv0')) {
            return;
        }
        interval++;
        if (interval <= 3) { // Menu dothi chỉ có 2 cấp, ul > li > ul > li. ra 3 cấp mới set được parrent
            setActiveClass(tag.parent(), interval);
        } else {
        }
    }
</script>

        <div class="wr_page">
            
    <div class="index-page"> 
        <div class="content">
             
            <!-- Content Left -->
            <div class="content-left">   
                
<div class="project-search">
    <div class="pjs-title">
        <h3>Tìm kiếm dự án</h3>
    </div>
    <div class="pjs-content">
        <div class="pjs-item" id="cboCatePj"></div>
        <input type="hidden" name="ctl00$ContentPlaceHolder1$ProjectBoxSearch1$hddcboCatePj" id="hddcboCatePj" value="161" />
        <div class="pjs-item pjs-item-ct" id="cboCityPj"> </div>
        <input type="hidden" name="ctl00$ContentPlaceHolder1$ProjectBoxSearch1$hddcboCityPj" id="hddcboCityPj" value="-1" />
        <div class="pjs-item pjs-item-ct" id="cboDistPj">  </div>
        <input type="hidden" name="ctl00$ContentPlaceHolder1$ProjectBoxSearch1$hddcboDistPj" id="hddcboDistPj" value="-1" />
        <div class="pjs-action">
            <a id="ContentPlaceHolder1_ProjectBoxSearch1_lbtSearch" href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$ProjectBoxSearch1$lbtSearch&#39;,&#39;&#39;)">
                <img src="Images/btnSearch.png"></a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () { 
        GetCatePj($('#hddcboCatePj').val());
        GetCityPj($('#hddcboCityPj').val());
    });
    $.fn.selectoptionPj = function (data, oldValue, datawidth) {
        var html = '';
        var optionhtml = '';
        var id = $(this).attr('id');
        var newValue = -1;
        var newText = '';
        optionhtml = GetFistItemComboPj(id, oldValue);
        $.each(data, function (index, value) {
            if (value.Id == oldValue) {
                optionhtml += ' <li class="selected" rel="' + value.Id + '">' + value.Text + '</li>';
                newValue = value.Id;
                newText = value.Text;
            }
            else
                optionhtml += ' <li rel="' + value.Id + '">' + value.Text + '</li>';
        });
        if (newValue == -1) {
            newText = GetTextComboPj(id);
        }
        html += ' <div class="section" style="width:' + datawidth + ';" ><span class="segtext">' + newText + '</span><span class="segdart"></span></div>';
        html += ' <div class="gridcontainer" style="min-width:' + datawidth + '; display:none;" > ';
        html += ' <ul style="min-width:' + datawidth + '"> ';
        html += optionhtml;
        html += ' </ul> ';
        $("#" + id).html(html);
        // add class selected 
        $("#hdd" + id).val(newValue);
        $('#' + id + ' .gridcontainer li').removeClass('selected');
        $('#' + id + ' .gridcontainer li[rel="' + newValue + '"]').addClass('selected');
        //
        $('#' + id + ' .section').click(function () {
            if ($(this).hasClass('sectionactive')) {
                finish();
            } else {
                $(this).addClass('sectionactive');
                $('#' + id + ' .gridcontainer').show();
            }
        });

        $('#' + id + ' .gridcontainer li').click(function () {
            var text = $(this).html();
            var value = $(this).attr('rel');
            $('#' + id + ' .gridcontainer li').removeClass('selected');
            $(this).addClass('selected');
            finish(text, value);
        });

        $(document).mouseup(function (e) {
            var container = $("#" + id + ' .gridcontainer');
            var container1 = $("#" + id + ' .section');
            if (!container.is(e.target) // if the target of the click isn't the container...
                && container.has(e.target).length === 0 && !container1.is(e.target) && container1.has(e.target).length === 0)  // ... nor a descendant of the container
            {
                finish();
            }
        });

        function finish(text, value) {
            if (text != null && text != '') $('#' + id + ' .segtext').html(text);
            //set value
            if (value != null && value != '') { 
                $('#' + id).change();
                $("#hdd" + id).val(value);
                switch (id) {
                    case "cboCityPj":
                        {
                            $("#hddcboDistPj").val(-1);
                            GetDistrictPj(value);
                        }
                        break; 
                }
            }
            $('#' + id + ' .gridcontainer').hide();
            $('#' + id + ' .section').removeClass('sectionactive');
        }
    };

    function GetCatePj(loainhadat) {
    var html = '';
    html += '[';   
    html += '{"Id":150,"Text":"Khu đô thị mới"},';
    html += '{"Id":155,"Text":"Khu căn hộ"},';
    html += '{"Id":156,"Text":"Cao ốc văn phòng"},';
    html += '{"Id":157,"Text":"Khu thương mại dịch vụ"},';
    html += '{"Id":158,"Text":"Khu du lịch- nghỉ dưỡng"},';
    html += '{"Id":159,"Text":"Khu công nghiệp"},';
    html += '{"Id":160,"Text":"Khu phức hợp"},';
    html += '{"Id":161,"Text":"Dự án khác"}';
         
    html += ']';
    var likeReturn = $.parseJSON(html);
    $("#cboCatePj").selectoptionPj(likeReturn, loainhadat, "174px");
    }

    function GetCityPj(curentCityCode) {

        var likeReturn;
        if ($("body").data('GetCity') != null) {
            likeReturn = $("body").data('GetCity');
            $("#cboCityPj").selectoptionPj(likeReturn, curentCityCode, "148px");
            GetDistrictPj(curentCityCode);
        } else {
            $.ajax({
                type: "POST",
                cache: false,
                url: "/Handler/SearchHandler.ashx?module=GetCity",
                success: function (html) {
                    if (html.length > 0) {
                        likeReturn = $.parseJSON(html);
                        $("body").data('GetCity', likeReturn);
                    }
                },
                timeout: 5000,
                complete: function () {
                    if (likeReturn != null) {
                        $("#cboCityPj").selectoptionPj(likeReturn, curentCityCode, "148px");
                        GetDistrictPj(curentCityCode);
                    }
                }
            });
        }
    }

    function GetDistrictPj(Citycode) {

        var curentDistrict = $("#hddcboDistPj").val(); 
        if (Citycode != "-1") {
            var likeReturn;
            if ($("body").data('GetDistrict_' + Citycode) != null) {
                likeReturn = $("body").data('GetDistrict_' + Citycode);
                $("#cboDistPj").selectoptionPj(likeReturn, curentDistrict, "149px");
                ChangeDistrict(curentDistrict); 
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Handler/SearchHandler.ashx?module=GetDistrict",
                    data: { "cityCode": Citycode },
                    success: function (html) {
                        likeReturn = $.parseJSON(html);
                        $("body").data('GetDistrict_' + Citycode, likeReturn);
                    },
                    timeout: 5000,
                    complete: function () {
                        $("#cboDistPj").selectoptionPj(likeReturn, curentDistrict, "149px");
                    }
                });

            }
        } else {

            var html = '[]';
            var likeReturn = $.parseJSON(html);
            $("#cboDistPj").selectoptionPj(likeReturn, curentDistrict, "149px");
        }
    }

    function GetTextComboPj(Element) {
        var r = '';
        switch (Element) { 
            case "cboCatePj":
                {
                    r = "Khu dân cư";
                    break;
                }
            case "cboCityPj":
                {
                    r = "Tỉnh/Thành Phố";
                    break;
                }
            case "cboDistPj":
                {
                    r = "Quận/Huyện";
                    break;
                } 
        }
        return r;
    }

    function GetFistItemComboPj(Element, OldValue) {
        var r = '';
        switch (Element) {
            case "cboCatePj": 
                r = ' <li rel="148">Khu dân cư</li>';
                break;
            case "cboCityPj":
                { 
                    r = ' <li rel="-1">Chọn Tỉnh/Thành phố</li>';
                    break;
                }
            case "cboDistPj":
                { 
                    r = ' <li rel="-1">Chọn Quận/Huyện</li>';
                    break;
                } 
        }
        return r;
    }

</script> 
                <!-- Project Detail -->
                
<div class="project-detail">
    <div class="prj-content">
        <div class="pc-img">
            <img id="ContentPlaceHolder1_ProjectDetail1_imgAvatar" title="The Manor Huế" src="http://dothi.net//dothi_svr_1_crop_319_197_3.20150918105323-951d-0I4XNtd4.jpg" alt="The Manor Huế" />
        </div>
        <div class="pc-text">
            <h1>
                The Manor Huế</h1>
            <div class="pc-text-address">
                <span>Địa chỉ: </span>
                <p>
                    Đường Tố Hữu, Phường Xuân Phú, Huế, Thừa Thiên Huế</p>
            </div>
            <div class="pc-text-address">
                <span>Điện thoại: </span>
                <p>
                    0902360313</p>
            </div>
            <div class="pc-text-address">
                <span>Website: </span>
                <p>
                    Đang cập nhật</p>
            </div>
            <div class="pc-text-address">
                <span>Email: </span>
                <p>
                    Đang cập nhật</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="prj-tab">       
        <div class="prj-tab-active">Bản đồ</div>
    </div>

    
    <div class="prj-map">
        <div id="ContentPlaceHolder1_ProjectDetail1_divmaps" class="divmaps a1">   
            <div>
                <input type="hidden" name="ctl00$ContentPlaceHolder1$ProjectDetail1$hddLatitude" id="hddLatitude" value="16.46446" />
                <input type="hidden" name="ctl00$ContentPlaceHolder1$ProjectDetail1$hddLongtitude" id="hddLongtitude" value="107.6127" />
                <input type="hidden" name="ctl00$ContentPlaceHolder1$ProjectDetail1$txtPositionX" id="txtPositionX" value="16.0466742" />
                <input type="hidden" name="ctl00$ContentPlaceHolder1$ProjectDetail1$txtPositionY" id="txtPositionY" value="108.2064774" />
                <input type="hidden" name="ctl00$ContentPlaceHolder1$ProjectDetail1$hddDiadiem" id="hddDiadiem" value="The Manor Huế" />
                
<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<script src="Scripts/GoogleMapControl.min.js?v=20150922" type="text/javascript"></script>
<div id="mapinfo">
    <div id="map_canvas"></div>
</div>

            </div>
        </div>
    </div>
    <div class="clear"></div>
    <h3 class="tongquan">Tổng quan</h3>
    <div class="prj-over">
         <h2 class="h12">
	Th&ocirc;ng tin dự &aacute;n The Manor Huế</h2>
<p>
	Dự &aacute;n The Manor Huế với &acirc;m hưởng phong c&aacute;ch kiến tr&uacute;c T&acirc;n cổ điển sang trọng hứa hẹn sẽ mang đến những trải nghiệm bất ngờ cho người d&acirc;n sống ở đ&acirc;y. Chủ đầu tư dự &aacute;n tập đo&agrave;n Bitexco.<br />
	<br />
	The Manor Huế tọa lạc ở tr&iacute; đắc địa bậc nhất TP. Huế, ngay trung t&acirc;m th&agrave;nh phố, tọa lạc tr&ecirc;n trục đường ch&iacute;nh Tố Hữu rộng 60m, đối diện trường THCS đạt ti&ecirc;u chuẩn Quốc gia Nguyễn Tri Phương, nằm ngay cạnh khu trung t&acirc;m h&agrave;nh ch&iacute;nh mới của th&agrave;nh phố v&agrave; bờ k&ecirc;nh Ph&aacute;t L&aacute;t xanh m&aacute;t.<br />
	<br />
	- Tổng diện t&iacute;ch l&agrave; 4,2 ha.<br />
	- Tổng số biệt thự, nh&agrave; phố l&agrave; 67 căn.<br />
	- Nh&agrave; phố l&agrave; 43 căn<br />
	- Biệt thự l&agrave; 24 căn<br />
	- Khu nh&agrave; phức hợp cao 15 tầng<br />
	<br />
	Dự &aacute;n c&oacute; đầy đủ tện &iacute;ch nội khu như an ninh tuyệt đối 24/24, c&aacute;c cụm c&ocirc;ng vi&ecirc;n c&acirc;y xanh thiết kế ngay trong khu vực nh&agrave; ở, lối đi bộ s&acirc;n vườn dọc bờ k&ecirc;nh Ph&aacute;t L&aacute;t, s&acirc;n cầu l&ocirc;ng, cinema, khu thương mại cao cấp, cafe v&agrave; bể bơi tr&ecirc;n nh&agrave; cao tầng&hellip;.<br />
	<br />
	V&agrave;o l&uacute;c 8h00 ng&agrave;y 23/09/2015, tại Kh&aacute;ch sạn Hương Giang Huế (51 L&ecirc; Lợi, phường Ph&uacute; Hội, TP. Huế), dự &aacute;n The Manor Huế sẽ ch&iacute;nh thức ra mắt v&agrave; mời kh&aacute;ch h&agrave;ng tới tham quan nh&agrave; mẫu.</p>
<p style="text-align: center;">
	<img alt="" src="http://file4.batdongsan.com.vn/2015/09/18/0I4XNtd4/20150918105323-951d.jpg" style="width: 550px; height: 369px;" /></p>
<h3 class="h34" style="text-align: center;">
	<em>Phối cảnh tổng thể dự &aacute;n The Manor Huế</em></h3>

    </div>
    
    
    <div id="ContentPlaceHolder1_ProjectDetail1_EnterpriseInfo1_ProjectEnterprise">
<div class="prj-tab">
        <ul id="ulOver">
            <li class="prj-tab-normal prj-tab-active" value="0">
                <span>Chủ đầu tư</span>
            </li>

        </ul>
    </div>
<div class="prj-enter">
        <div class="prj-enter-img">
            <img id="ContentPlaceHolder1_ProjectDetail1_EnterpriseInfo1_imgAvatar" title="Tập đoàn Bitexco" src="http://dothi.net//dothi_svr_1_crop_161_119_1683.jpg" alt="Tập đoàn Bitexco" />
        </div>
        <div class="prj-enter-text">
            <div>
                Địa chỉ:
                                VP Hà Nội: Tầng 1, The Manor Towers, Mễ Trì, Mỹ Đình, Từ Liêm, Hà Nội.
            </div>
            <div>
                Điện thoại:
                                0437855588
                                | Fax:
                                0437855599
            </div>
            <div>
                Website:
                                <a href='http://www.bitexco.com.vn' target='_blank' rel='nofollow' >www.bitexco.com.vn</a>
            </div>
            <div>
                Email:
                                bitexcohn@bitexco.com.vn
            </div>
            <div>
                Chat với người liên hệ công ty 
                                    <span class="nickchat">
                                        <img alt="Yahoo" src="Images/yahoo.gif">
                                        <a id="ContentPlaceHolder1_ProjectDetail1_EnterpriseInfo1_hplChat" href="javascript:void(0)">Nick chat chưa được cập nhật!</a>
                                    </span>
            </div>
        </div>
    </div>   </div> 
    
</div>
 
                
<div class="comment">
    <div class="comment-title">
        <h3>bình luận</h3>
    </div>
    <div class="cm-tab">
        <div class="cm-fb cm-fb-active" id="CmtFaceBook" onclick="CmtFacebook();">Facebook</div>
        <div class="cm-gp " id="CmtGooglePlus" onclick="CmtGoogle();">Google +</div>
    </div>
    <div class="cm-content ">
        <!-- Facebook -->
        <div class="cm-content-fb">
            <div id="fb-root"></div>
            
            <div class="fb-comments" data-href="http://dothi.net//du-an-khac-hue/the-manor-hue-pj2239.htm" data-width="660" data-numposts="2" data-colorscheme="light"></div>

        </div>
        <!-- Google Plus -->
        <div class="cm-content-gp positionfixed">
            <script src="https://apis.google.com/js/plusone.js">
            </script>
            <div class="g-comments"
                data-href="http://dothi.net//du-an-khac-hue/the-manor-hue-pj2239.htm"
                data-width="660"
                data-first_party_property="BLOGGER"
                data-view_type="FILTERED_POSTMOD">
            </div>
        </div>
    </div>
</div>

                <div id="ContentPlaceHolder1_ProjectOther1_divProjectOther">
    <div class="project-other">
        <div class="prj-other-title">
            <h3>Dự án cùng khu vực</h3>
        </div>
        <div class="prj-other-content">
            <ul>
                
                        <li>
                            <div class="prj-other-item">
                                <div class="prj-other-img">
                                    <a href="/du-an-khac-hue/evn-land-central-hue-pj929.htm" title="EVN-Land Central Huế">
                                        <img src="http://dothi.net//dothi_svr_1_crop_168_106_114114.jpg" alt="EVN-Land Central Huế" />
                                    </a>
                                </div>
                                <div class="prj-other-text">
                                    <h2><a href="/du-an-khac-hue/evn-land-central-hue-pj929.htm" title="EVN-Land Central Huế">EVN-Land Central Huế</a></h2>
                                    <div class="pc-text-address">
                                        <span>Địa chỉ: </span>
                                        <p>Đường Phan Đình Phùng, Phường Vĩnh Ninh, Huế, Thừa Thiên Huế</p>
                                    </div>
                                    <div class="pc-text-address">
                                        <span>Điện thoại: </span>
                                        <p>05112466466</p>
                                    </div>
                                    <div class="pc-text-address">
                                        <span>Website: </span>
                                        <p>www.evnlandcentral.com.vn</p>
                                    </div>
                                    <div class="pc-text-address">
                                        <span>Email: </span>
                                        <p>evnlandcentral@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    
                <li id="ContentPlaceHolder1_ProjectOther1_DivCreateLinkMore">
                    <div class="pc-extra"> 
                        <a title="Xem tất cả" href="/du-an-khac-hue-tth.htm"><img src='/Images/xemtatca.png' /></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

                <div class="clear"></div>
                </div>
            <!-- Content Right -->
            <div class="content-right">
                <!-- Box search list -->
                
<link href="Scripts/jquery-ui.css" rel="stylesheet" />
<div class="box-search">
                    <div class="bs-tab">
                        <div class="tab-sell" id="divSellList">BĐS bán</div>
                        <div class="tab-sell" id="divRentList">BĐS cho thuê</div>
                    </div>
                    <div class="bs-content">
                        <div class="bs-item" id="KeyDownEnterHome" style="background:none;">
                            <input name="ctl00$ContentPlaceHolder1$BoxSearchList1$txtAutoComplete" type="text" id="txtAutoComplete" class="ui-autocomplete-input" placeholder="Nhập địa điểm, vd: The Manor" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" />
                        </div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboType" id="hddcboType" value="-1" />
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboCate" id="hddcboCate" value="-1" />
                        <div class="bs-item" id="cboCate"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboCity" id="hddcboCity" value="VN" />
                        <div class="bs-item" id="cboCity"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboDist" id="hddcboDist" value="-1" />
                        <div class="bs-item" id="cboDist"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboArea" id="hddcboArea" value="-1" />
                        <div class="bs-item" id="cboArea"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboPrice" id="hddcboPrice" value="-1" />
                        <div class="bs-item" id="cboPrice"></div>
                        <div id="bs-advance">
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboWard" id="hddcboWard" value="-1" />
                        <div class="bs-item" id="cboWard"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboStreet" id="hddcboStreet" value="-1" />
                        <div class="bs-item" id="cboStreet"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboDirection" id="hddcboDirection" value="-1" />
                        <div class="bs-item" id="cboDirection"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboRoom" id="hddcboRoom" value="-1" />
                        <div class="bs-item" id="cboRoom"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboProject" id="hddcboProject" value="2239" />
                        <div class="bs-item" id="cboProject"></div>
                            </div>
                        <div class="bs-action">
                            <div class="bs-advance"><a id="hplAdvance" href="javascript:ShowBSAdvance();">Tìm kiếm nâng cao</a></div>
                            <div class="bs-search">
                                 <a id="ContentPlaceHolder1_BoxSearchList1_lbtSearch" class="btnsearch" href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$BoxSearchList1$lbtSearch&#39;,&#39;&#39;)"><img src="Images/btnSearch.png" /></a>

                            </div>
                        </div>
                    </div>
                </div>

<script src="Scripts/BoxSearchList.min.js?v=20150922" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        var cnt = 0;
        $("#KeyDownEnterHome").keyup(function (event) {
            if (event.keyCode == 13 && cnt > 0) {
                cnt = 0;
                window.__doPostBack('ctl00$ContentPlaceHolder1$BoxSearchList1$lbtSearch', '');
            }
            else if (event.keyCode == 13) {
                cnt++;
            }
        });
    });
</script> 
                <!-- Dự án theo lĩnh vực -->
                
<div class="product-count">
                    <div class="pc-title">
                        <div class="pc-icon">
                            <img src="/Styles/Images/icon-foruser.png" />
                        </div>
                        <h3>Dự án theo lĩnh vực</h3>
                    </div>
                    <div class="pc-content pc-content-hottoppic">
                        <ul id="ulProductCount">

                            <li>
                                <h3>
                                    <a title="Khu dân cư" href="/khu-dan-cu.htm">Khu dân cư</a>
                                </h3>
                            </li>

                            <li>
                                <h3>
                                    <a title="Khu đô thị mới" href="/khu-do-thi-moi.htm">Khu đô thị mới</a>
                                </h3>
                            </li>

                            <li>
                                <h3>
                                   <a title="Khu căn hộ" href="/khu-can-ho.htm">Khu căn hộ</a>
                                </h3>
                            </li>

                            <li>
                                <h3>
                                   <a title="Cao ốc văn phòng" href="/cao-oc-van-phong.htm">Cao ốc văn phòng</a>
                                </h3>
                            </li>

                            <li>
                                <h3>
                                   <a title="Khu thương mại dịch vụ" href="/khu-thuong-mai-dich-vu.htm">Khu thương mại dịch vụ</a>
                                </h3>
                            </li>

                            <li>
                                <h3>
                                   <a title="Khu du lịch nghỉ dưỡng" href="/khu-du-lich-nghi-duong.htm">Khu du lịch nghỉ dưỡng</a>
                                </h3>
                            </li>

                            <li>
                                <h3>
                                    <a title="Khu công nghiệp" href="/khu-cong-nghiep.htm">Khu công nghiệp</a>
                                </h3>
                            </li>

                            <li>
                                <h3>
                                    <a title="Khu phức hợp" href="/khu-phuc-hop.htm">Khu phức hợp</a>
                                </h3>
                            </li>

                        </ul>
                    </div>
                </div> 
                <!-- Tin rao liên quan -->
                
<div class="product-relate" id="productrelate">
    <div class="pr-title">
        <h3>Tin rao liên quan</h3>
    </div>
    <div class="pr-content">
        <div class="bs-tab">
            <div class="tab-sell bs-tab-active" id="product-relate-sale" onclick="ProductRelateSale();">BĐS bán</div>
            <div class="tab-sell " id="product-relate-rent" onclick="ProductRelateRent();">BĐS cho thuê</div>
        </div>
        <input type="hidden" name="ctl00$ContentPlaceHolder1$ProductRelated1$hddNoSale" id="hddNoSale" value="1" />
        <input type="hidden" name="ctl00$ContentPlaceHolder1$ProductRelated1$hddNoRent" id="hddNoRent" value="1" />
        <div class="productrelate-content" id="ProductRelatedSale">
            <ul>
                
                <li id="ContentPlaceHolder1_ProductRelated1_moreProductSale">
                    <div class="pc-extra"> 
                        
                    </div>
                </li>
            </ul>
        </div>

        <div class="productrelate-content" id="ProductRelatedRent" style="display: none;">
            <ul>
                
                <li id="ContentPlaceHolder1_ProductRelated1_moreProductRent">
                    <div class="pc-extra"> 
                        
                    </div>
                </li>
            </ul>

        </div>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var hddNoSale = $("#hddNoSale").val();
        var hddNoRent = $("#hddNoRent").val();
        if (hddNoRent == 1 && hddNoSale == 1) {
            $("#productrelate").hide();
        } else {
            if (hddNoSale == 1) {
                $("#product-relate-sale").hide();
                $("#ProductRelatedSale").hide();
                $("#ProductRelatedRent").show();
                $("div#product-relate-rent").toggleClass("bs-tab-active");
            }
            if (hddNoRent == 1) {
                $("#product-relate-rent").hide();
                $("#ProductRelatedRent").hide();
            }
        }
    });
</script>
 
                <!-- Box hot -->
                <div id="ContentPlaceHolder1_BoxHotLink1_pnLink">
	
    <div class="product-count">
        <div class="pc-title">
            <div class="pc-icon">
                <img src="/Styles/Images/icon-foruser.png" />
            </div>
            <h3>Liên kết nổi bật</h3>
        </div>
        <div class="pc-content">
            <ul id="ulBoxHot">
                
                
                        <li>
                            <h3><a href="/ban-nha-rieng-xa-me-tri.htm">Bán nhà Xã Mễ Trì</a></h3>
                        </li>
                    
                        <li>
                            <h3><a href="/ban-nha-rieng-phuong-14.htm">Bán nhà Phường 14 quận 4</a></h3>
                        </li>
                    
                        <li>
                            <h3><a href="/ban-nha-rieng-duong-quang-trung-67.htm">Bán nhà Quang Trung</a></h3>
                        </li>
                    
                        <li>
                            <h3><a href="/ban-nha-rieng-duong-phan-huy-ich-67.htm">Bán nhà Phan Huy Ích</a></h3>
                        </li>
                    
                        <li>
                            <h3><a href="/ban-nha-rieng-duong-linh-nam-8.htm">Bán nhà Lĩnh Nam</a></h3>
                        </li>
                    
                        <li>
                            <h3><a href="/ban-nha-rieng-duong-ho-tung-mau-7.htm">Bán nhà Hồ Tùng Mậu</a></h3>
                        </li>
                    
                        <li>
                            <h3><a href="/ban-nha-rieng-duong-vo-van-van-72.htm">Bán nhà Võ Văn Vân</a></h3>
                        </li>
                    
                        <li>
                            <h3><a href="/ban-nha-rieng-pho-tran-binh-7.htm">Bán nhà Trần Bình</a></h3>
                        </li>
                    
                        <li>
                            <h3><a href="/cho-thue-nha-rieng-duong-lac-long-quan-6.htm">Cho thuê nhà Lạc Long Quân</a></h3>
                        </li>
                    
                        <li>
                            <h3><a href="/cho-thue-nha-rieng-duong-d2-66.htm">Cho thuê nhà D2</a></h3>
                        </li>
                    
                        <li>
                            <h3><a href="/ban-dat-nen-du-an-arista-villas.htm">Bán đất nền Arista Villas</a></h3>
                        </li>
                    
                        <li>
                            <h3><a href="/ban-can-ho-chung-cu-khu-do-thi-kim-van-kim-lu-golden-silk.htm">Bán căn hộ chung cư Kim Văn Kim Lũ</a></h3>
                        </li>
                    
                        <li>
                            <h3><a href="/ban-can-ho-chung-cu-khu-do-thi-my-dinh-i.htm">Bán căn hộ chung cư KĐT Mỹ Đình I</a></h3>
                        </li>
                    
                        <li>
                            <h3><a href="/ban-can-ho-chung-cu-n04-kdt-dong-nam-tran-duy-hung.htm">Bán căn hộ chung cư N04 Trần Duy Hưng</a></h3>
                        </li>
                    
                        <li>
                            <h3><a href="/ban-can-ho-chung-cu-chung-cu-nam-do-complex-609-truong-dinh.htm">Bán căn hộ chung cư Nam Đô Complex</a></h3>
                        </li>
                    
                        <li>
                            <h3><a href="/ban-can-ho-chung-cu-terra-rosa.htm">Bán căn hộ chung cư Terra Rosa</a></h3>
                        </li>
                    
                        <li>
                            <h3><a href="/ban-can-ho-chung-cu-v-star.htm">Bán căn hộ chung cư V-Star</a></h3>
                        </li>
                    
                        <li>
                            <h3><a href="/ban-can-ho-chung-cu-chung-cu-an-loc.htm">Bán căn hộ chung cư An Lộc</a></h3>
                        </li>
                    
                        <li>
                            <h3><a href="/cho-thue-can-ho-chung-cu-khu-do-thi-nam-trung-yen.htm">Cho thuê căn hộ KĐT Nam Trung Yên</a></h3>
                        </li>
                    
                        <li>
                            <h3><a href="/cho-thue-can-ho-chung-cu-khu-do-thi-yen-hoa.htm">Cho thuê căn hộ KĐT Yên Hòa</a></h3>
                        </li>
                    

            </ul>
            <div class="pc-extra" id="showBoxhot">
                <a href="javascript:showBoxHot();" rel="nofollow">
                    <img src="Images/xemtatca.png" />
                </a>
            </div>
        </div>
    </div>

</div>
 
                <!-- Tin tức liên quan -->
                 
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

            <div class="clear"></div>
        </div>
        <!-- Footer -->
        
<div class="footer">
    <div class="menu-bottom">
        <ul>
            <li><a href="/gioi-thieu.htm" rel="nofollow">Giới thiệu</a></li>
            <li><a href="/huong-dan.htm" rel="nofollow">Hướng dẫn sử dụng</a></li>
            <li><a href="/quy-dinh.htm" rel="nofollow">Quy định</a></li>
            <li><a href="/lien-he.htm" rel="nofollow">Liên hệ</a></li>
            
            <li><a href="/dieu-khoan.htm" rel="nofollow">Điều khoản thỏa thuận</a></li>
             <li><a href="/bao-gia.htm" rel="nofollow">Báo giá</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="footer_bottom">
        <div class="row_footer">
            <div class="logo_footer">
                <a href="/" title="Đô thị">
                    <img src="Images/logo.png" alt="Đô thị"></a>
            </div>
            <div class="info_footer">
                <p>Giấy phép hoạt động trang tin điện tử ICP số 23/GP-TTĐT.</p>
                <p>Copyright © 2010 - 2015 Dothi.net. ® Ghi rõ nguồn "Dothi.net" khi phát hành lại thông tin từ website này.</p>
                <p class="info_ct">
                    <span>Hot line:  0903 236 862 - 0969 980 365 </span>
                    <a rel="nofollow" href="mailto:cskh@info@dothi.net?Subject=Liên hệ-info@dothi.net" target="_top">Email: info@dothi.net</a>
                    <a href="skype:cskh.dothinet?chat" rel="nofollow">Skype: cskh.dothinet</a>
                    <a href="ymsgr:sendim?cskh.dothinet" rel="nofollow">Yahoo: cskh.dothinet</a>
                </p>
                <p class="info_ct">
                    <span>Địa chỉ: Số 80B - Nguyễn Văn Cừ - Long Biên - HN.</span>
                </p>
            </div>
            <div class="clear">
            </div>
            <div class="bd_footer"></div>
        </div>
        <div class="share_footer">
            <span style="float: left;">Phát triển bởi: <a href="http://vgroup.vn" rel="nofollow" title="VGROUP" target="_blank" class="color00ffd1">VGROUP</a></span>
            <iframe src="//www.facebook.com/plugins/like.php?href=https://www.facebook.com/pages/Dothinet/501286850027197&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21" scrolling="no" frameborder="0" style="border: none;overflow: hidden;height: 21px;float: left;width: 165px;margin-left: 20px;" allowtransparency="true"></iframe>
            <script src="https://apis.google.com/js/platform.js" async defer>
                         {lang: 'vi'}
            </script>
            <!-- Đặt thẻ này vào nơi bạn muốn Nút +1 kết xuất. -->
            <div class="g-plusone" data-size="medium" data-annotation="inline" data-href="https://plus.google.com/u/2/104751964857878543083/posts" data-width="100"></div>
            <a class="twitter-share-button"
                href="https://twitter.com/share">Tweet
            </a>
            <script type="text/javascript">
                window.twttr = (function (d, s, id) { var t, js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) { return } js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } }) }(document, "script", "twitter-wjs"));
            </script>

        </div>
    </div>
    <div class="clear"></div>
</div>

        <div id="boxProductSaved" style="">
            <div class="titlebox">
                <span class="title">Tin đã lưu</span> <span id="deleteAll" title="Xóa tất cả" onclick="deleteAllNews();"></span><span id="btn_close" class="hideAll"></span>
            </div>
            <div>
                <ul class="listbox" style="width: 100%;">
                </ul>
            </div>
        </div>
        <!-- End Footer -->
        <div id="SiteLeft" style="display: none">
            <div class="ban_scroll" id="ban_left" style="width: 100px">
                <div class="item">
                    <embed id="ban_l1" width="100" height="300" quality="high" name="plugin" src="Images/banner/banner-150820-100x300.swf" flashvars="link=http://file.dothi.net/KM/dang-tin-rinh-qua-khung.html" type="application/x-shockwave-flash" wmode="transparent">
                </div>
                <div class="item">
                    <a id="ban_l2" href="http://banxehoi.com" rel="nofollow" target="_blank" style="width: 100px">
                        <img src="Images/banner/100x300-dang-tin-mau-ban-xe-hoi.gif" />
                    </a>
                </div>
            </div>
        </div>
        <div id="SiteRight" style="display: none">
            <div class="ban_scroll" id="ban_right" style="width: 100px">
                <div class="item">
                    <embed id="ban_r1" width="100" height="300" quality="high" name="plugin" src="Images/banner/banner-150820-100x300.swf" flashvars="link=http://file.dothi.net/KM/dang-tin-rinh-qua-khung.html" type="application/x-shockwave-flash" wmode="transparent">
                </div>
                <div class="item">
                    <a id="ban_r2" href="http://banxehoi.com" rel="nofollow" target="_blank" style="width: 100px">
                        <img src="Images/banner/100x300-dang-tin-mau-ban-xe-hoi.gif" />
                    </a>
                </div>
            </div>
        </div>

    </form>
</body>
</html>
