
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta charset="utf-8" /><title>
	Phong thủy | dothi.net
</title><link href="/Images/favicon.ico?v=1" rel="shortcut icon" type="image/x-icon" /><link href="Styles/reset.css" rel="stylesheet" />
    <link href="Styles/Styles.min.css?v=20150922" rel="stylesheet" />
    <link href="Scripts/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <!-- Scripts -->

    <script src="Scripts/jquery-1.7.2.min.js"></script>
    <script src="Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="Scripts/ExcoloSlider/jquery.excoloSlider.js"></script>
    <link href="Scripts/ExcoloSlider/jquery.excoloSlider.css" rel="stylesheet" /><link rel="stylesheet" type="text/css" href="Scripts/Fancybox/source/jquery.fancybox.css" media="all" />
    <script type="text/javascript" src="Scripts/Fancybox/source/jquery.fancybox.js"></script>
    <script src="Scripts/Common.min.js?v=20150922"></script>
    <script type="text/javascript" src="Scripts/jquery.placeholder.min.js"></script>
    <script src="Scripts/jquery.cookie-1.4.1.js" type="text/javascript"></script>
    <script type="text/javascript">
        var domainCookie = '172.16.15.55'
        var productId = '0';
        var userId = '';
    </script>
    <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    //js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=711922948870179&version=v2.0";
    js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
    </script>
    <meta name="keywords" content="Phong thủy, đồ phong thủy, đá phong thủy, phong thủy nhà ở, phong thủy văn phòng, phong thủy phòng khách, xem hướng, tư vấn phong thủy, màu sắc phong thủy, chọn hướng xây nhà, phong thủy phòng ngủ,xem phong thủy theo tuổi, xem hướng nhà theo tuổi" /><meta name="description" content="Phong thủy nhà ở, kiêng kỵ trong phong thủy, chọn hướng, xem ngày xây nhà, ngày nhập trạch, phong thủy phòng khách, phong thủy phòng bếp, phong thủy phòng ngủ, tư vấn phong thủy." />
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-54660981-1', 'auto');
        ga('send', 'pageview');

    </script>
    
<link media="only screen and (max-width: 640px)" rel="alternate" href="http://m.dothi.net/phong-thuy.htm" /><link media="handheld" rel="alternate" href="http://m.dothi.net/phong-thuy.htm" /><meta name="title" /><meta name="description" content="Phong thủy nhà ở, kiêng kỵ trong phong thủy, chọn hướng, xem ngày xây nhà, ngày nhập trạch, phong thủy phòng khách, phong thủy phòng bếp, phong thủy phòng ngủ, tư vấn phong thủy." /></head>
<body>
    <form method="post" action="/phong-thuy.htm" id="Form1">
<div class="aspNetHidden">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTkxODc5MTg0NmRksdadqQdKTgbXjnQ+PilXuS38Vmw=" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['Form1'];
if (!theForm) {
    theForm = document.Form1;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


        <!-- Header -->
        
<div id="wr_header" class="header">
    
<div class="header-register" id="headerregister">
    <div class="action">
        
        
        <div class="logon">
            <a href="/dang-nhap.htm" rel="nofollow" title="Đăng nhập">
                <span>Đăng nhập</span>
            </a>
        </div>
        <div class="register">
            <a href="/dang-ky.htm" rel="nofollow" title="Đăng ký">
                <span>Đăng ký</span>
            </a>
        </div>

        
    </div>
</div>

    <div class="header-logo">
        <div class="hdcontent">
            <div class="content-logo">
                <a href="/" title="Đô thị">
                    <img src="Images/logo.png" alt="Đô thị"></a>
            </div>
            <div class="MultiBanner1 content-banner" id="Banner" style="display: none">
                
                <a href="http://banxehoi.com" target="_blank" rel="nofollow">
                    <img src="Images/banner/746x96-dang-tin-mua-ban-de-dang.gif" /></a>
            </div>
            <div class="MultiBanner2 content-banner" id="Banner2" style="display:none">
                <embed width="746" height="96" quality="high" name="plugin" src="Images/banner/banner-150820-728x90.swf" type="application/x-shockwave-flash" flashvars="link=http://file.dothi.net/KM/dang-tin-rinh-qua-khung.html" wmode="transparent">
            </div>

            <div class="MultiBanner3 content-banner" id="Banner3" style="display: none">
                <embed width="746" height="96" quality="high" name="plugin" src="Images/banner/banner_top_vinhome_hcm.swf" type="application/x-shockwave-flash" flashvars="link=http://canholandmark81.com/mat-bang-the-park-1-vinhomes-central-park-11170.html" wmode="transparent">
            </div>

            <div class="MultiBanner4 content-banner" style="display: none">
                <a href="http://dothi.net/ban-dat-nen-du-an-kdc-phu-nhuan-phuoc-long-b/sieu-thi-dat-nen-du-an-phu-nhuan-quan-9-0907107686-pr3288166.htm" target="_blank">
                    <img src="Images/banner/banner-dat-nen-du-an-phu-nhuan-728x90.gif" /></a>
            </div>

            
        </div>
    </div>
    <script type="text/javascript">
        function detectmob() {
            if (navigator.userAgent.match(/Android/i)
         || navigator.userAgent.match(/webOS/i)
         || navigator.userAgent.match(/iPhone/i)
         || navigator.userAgent.match(/iPad/i)
         || navigator.userAgent.match(/iPod/i)
         || navigator.userAgent.match(/BlackBerry/i)
         || navigator.userAgent.match(/Windows Phone/i)
         ) {
                return true;
            }
            else {
                return false;
            }
        }

        if (detectmob()) {
            //$("#Banner").html('<a title="banxehoi.com" target="_blank" href="http://banxehoi.com"><img  style="width:746px; height:96px" src="Images/banner/banxehoi746x96.gif"></a>');
        }
        //setInterval(function () {
        //    $('.MultiBanner1').toggle();
        //    $('.MultiBanner2').toggle();
        //}, 10000);

    </script>

</div>

        <!-- End Header -->
        <!-- Me nú -->
        
<div class="menu">
    <div class="menu-content">
        <ul class="nav-menu">
            <li class="lv0 ">
                <a href="/" title="Trang chủ">Trang chủ
                </a>
            </li>
            <li class="lv0">
                <a href="/nha-dat-ban.htm" title="BĐS bán">BĐS bán</a>
                <ul class="dropdown-menu">
                    <li><a href="/ban-can-ho-chung-cu.htm" title="Bán căn hộ chung cư">Bán căn hộ chung cư</a></li>
                    <li><a href="/ban-nha-dat.htm" title="Tất cả các loại nhà bán">Tất cả các loại nhà bán</a></li>
                    <li><a href="/ban-nha-rieng.htm" title="Bán nhà riêng">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bán nhà riêng</a></li>
                    <li><a href="/ban-nha-biet-thu-lien-ke.htm" title="Bán nhà biệt thự, liền kề">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bán nhà biệt thự, liền kề</a></li>
                    <li><a href="/ban-nha-mat-pho.htm" title="Bán nhà mặt phố">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bán nhà mặt phố</a></li>
                    <li><a href="/ban-dat-dat-nen.htm" title="Tất cả các loại đất bán">Tất cả các loại đất bán</a></li>
                    <li><a href="/ban-dat-nen-du-an.htm" title="Bán đất nền dự án">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bán đất nền dự án</a></li>
                    <li><a href="/ban-dat.htm" title="Bán đất">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bán đất</a></li>
                    <li><a href="/ban-trang-trai-khu-nghi-duong.htm" title="Bán trang trại, khu nghỉ dưỡng">Bán trang trại, khu nghỉ dưỡng</a></li>
                    <li><a href="/ban-kho-nha-xuong.htm" title="Bán kho, nhà xưởng">Bán kho, nhà xưởng</a></li>
                    <li><a href="/ban-loai-bat-dong-san-khac.htm" title="Bán loại bất động sản khác">Bán loại bất động sản khác</a></li>
                </ul>
            </li>
            <li class="lv0">
                <a href="/nha-dat-cho-thue.htm" title="BĐS cho thuê">BĐS cho thuê</a>
                <ul class="dropdown-menu">
                    <li><a href="/cho-thue-can-ho-chung-cu.htm" title="Cho thuê căn hộ chung cư">Cho thuê căn hộ chung cư</a></li>
                    <li><a href="/cho-thue-nha-rieng.htm" title="Cho thuê nhà riêng">Cho thuê nhà riêng</a></li>
                    <li><a href="/cho-thue-nha-mat-pho.htm" title="Cho thuê nhà mặt phố">Cho thuê nhà mặt phố</a></li>
                    <li><a href="/cho-thue-nha-tro-phong-tro.htm" title="Cho thuê nhà trọ, phòng trọ">Cho thuê nhà trọ, phòng trọ</a></li>
                    <li><a href="/cho-thue-van-phong.htm" title="Cho thuê văn phòng">Cho thuê văn phòng</a></li>
                    <li><a href="/cho-thue-cua-hang-ki-ot.htm" title="Cho thuê cửa hàng, ki ốt">Cho thuê cửa hàng, ki ốt</a></li>
                    <li><a href="/cho-thue-kho-nha-xuong-dat.htm" title="Cho thuê kho, nhà xưởng, đất">Cho thuê kho, nhà xưởng, đất</a></li>
                    <li><a href="/cho-thue-loai-bat-dong-san-khac.htm" title="Cho thuê loại bất động sản khác">Cho thuê loại bất động sản khác</a></li>
                </ul>
            </li>
            <li class='lv0'><a href="/tin-tuc.htm" title="Tin tức">Tin tức</a><ul class="dropdown-menu"><li><a href="/tin-thi-truong.htm" title="Tin thị trường">Tin thị trường</a></li><li><a href="/chinh-sach-quy-hoach.htm" title="Chính sách - Quy Hoạch">Chính sách - Quy Hoạch</a></li><li><a href="/tin-du-an.htm" title="Tin dự án">Tin dự án</a></li><li><a href="/bds-the-gioi.htm" title="BĐS Thế giới">BĐS Thế giới</a></li></ul></li><li class='lv0'><a href="/thiet-ke-kien-truc.htm" title="Thiết kế kiến trúc">Thiết kế kiến trúc</a><ul class="dropdown-menu"><li><a href="/tu-van-thiet-ke.htm" title="Tư vấn thiết kế
">Tư vấn thiết kế
</a></li><li><a href="/kien-thuc-xay-dung.htm" title="Kiến thức xây dựng">Kiến thức xây dựng</a></li><li><a href="/the-gioi-kien-truc.htm" title="Thế giới kiến trúc
">Thế giới kiến trúc
</a></li></ul></li><li class='lv0'><a href="/khong-gian-song.htm" title="Không gian sống">Không gian sống</a><ul class="dropdown-menu"><li><a href="/nha-dep.htm" title="Nhà đẹp">Nhà đẹp</a></li><li><a href="/noi-that.htm" title="Nội thất">Nội thất</a></li><li><a href="/ngoai-that.htm" title="Ngoại thất
">Ngoại thất
</a></li><li><a href="/mach-ban.htm" title="Mách bạn
">Mách bạn
</a></li></ul></li><li class='lv0'><a href="/phong-thuy.htm" title="Phong thủy">Phong thủy</a></li><li class='lv0'><a href="/tu-van-luat.htm" title="Tư vấn luật
">Tư vấn luật
</a></li>
            <li class="lv0">
                <a href="/du-an-bat-dong-san.htm" title="Dự án">Dự án</a>
                <ul class="dropdown-menu">
                    <li><a href="/cao-oc-van-phong.htm" title="Cao ốc văn phòng">Cao ốc văn phòng</a></li>
                    <li><a href="/khu-can-ho.htm" title="Khu căn hộ">Khu căn hộ</a></li>
                    <li><a href="/khu-do-thi-moi.htm" title="Khu đô thị mới">Khu đô thị mới</a></li>
                    <li><a href="/khu-thuong-mai-dich-vu.htm" title="Khu thương mại dịch vụ">Khu thương mại dịch vụ</a></li>
                    <li><a href="/khu-phuc-hop.htm" title="Khu phức hợp">Khu phức hợp</a></li>
                    <li><a href="/khu-dan-cu.htm" title="Khu dân cư">Khu dân cư</a></li>
                    <li><a href="/khu-du-lich-nghi-duong.htm" title="Khu du lịch nghỉ dưỡng">Khu du lịch nghỉ dưỡng</a></li>
                    <li><a href="/khu-cong-nghiep.htm" title="Khu công nghiệp">Khu công nghiệp</a></li>
                    <li><a href="/du-an-khac.htm" title="Dự án khác">Dự án khác</a></li>
                </ul>
            </li>
            
            <li class="postnew lv0"><a href="/dang-tin-ban-cho-thue-nha-dat.htm" title="Đăng tin">Đăng tin</a></li>
            
        </ul>
    </div>
</div>
<script type="text/javascript">
    var href = window.location.pathname;
    var a_return = new Array(); // Danh sách Url được active
    var AllUrl = new Array(); // arr Url
    var ElementUrl = $(".nav-menu li a");

    var arrHref = href.split("/"); // phân tích current url 

    for (var i = 0; i < ElementUrl.length; i++) {
        var abc = ElementUrl[i].toString().split("/");
        if (abc.length > 3) {
            AllUrl.push(abc[3].replace(".htm", "")); // lấy được arr url
        }
    }

    if (arrHref.length >= 2) {
        var currentUrl = arrHref[1];
        for (var i = 0; i < AllUrl.length; i++) {
            var _index = currentUrl.search(AllUrl[i]); //Duyet chuoi danh sach Url de so sanh voi Current Url
            if (_index != -1) {
                a_return.push(AllUrl[i]); //Neu la tap con cua URL thi add vao array 
            }
        }
    }

    var return_data = "";
    var return_index = 0;
    for (x in a_return) {
        if (a_return[x].length > return_index) {//so sanh do dai lon nhat trung` voi URL thi lay gia tri
            return_index = a_return[x].length;
            return_data = a_return[x]; //gia tri can lay (duy nhat 1 gia tri)
        }
    }
    var taga = $('.nav-menu,.dropdown-menu').find('a[href=\'/' + return_data + '.htm\']');

    if (taga.length > 0) {
        setActiveClass(taga, 0);
    }

    function setActiveClass(tag, interval) {
        $(".lv0").removeClass('active');
        tag.addClass('active');
        if (tag.hasClass('lv0')) {
            return;
        }
        interval++;
        if (interval <= 3) { // Menu dothi chỉ có 2 cấp, ul > li > ul > li. ra 3 cấp mới set được parrent
            setActiveClass(tag.parent(), interval);
        } else {
        }
    }
</script>

        <div class="wr_page">
            
    <div class="index-page">
        <div class="content">
            <!-- Content Left -->
            <div class="content-left">
                <!-- News Break Cum -->
                
<div class="nl-breakcum">
    <ul>
         <li class='active'><h2><a href="/phong-thuy.htm"  >Phong thủy</a></h2></li>
    </ul>
    <div class="clear"></div>
</div>

                <div class="clear"></div>
                <div id="ContentPlaceHolder1_pnLoadControl">
	

<div class="articlelist">
    <div id="ContentPlaceHolder1_ctl00_divArticleHost" class="news-default">
        <div class="news-default-left">
            
            <a href="/phong-thuy/phong-thuy-phong-bep-cach-bo-tri-cua-so-ar24761.htm" title="Phong thủy phòng bếp: Cách bố trí cửa sổ">
                <img src="http://img.dothi.net/crop/318x228//2015/09/22/Z9BcC3fq/cuasobep-bad6.jpg" alt="Phong thủy phòng bếp: Cách bố trí cửa sổ" />
            </a>
            <h2>
                <a href="/phong-thuy/phong-thuy-phong-bep-cach-bo-tri-cua-so-ar24761.htm" title="Phong thủy phòng bếp: Cách bố trí cửa sổ">Phong thủy phòng bếp: Cách bố trí cửa sổ</a>
            </h2>
            
        </div>
        <div class="news-default-right">
            <ul>
                
                        <li class='first'>
                            <h3>
                                <a href="/phong-thuy/pham-hoa-xa-sat-khi-de-day-dien-long-thong-ar24736.htm" title="Phạm "Hỏa xà sát" khi để dây diện lòng thòng">
                                    Phạm "Hỏa xà sát" khi để dây diện lòng thòng
                                </a>
                            </h3>
                        </li>
                    
                        <li >
                            <h3>
                                <a href="/phong-thuy/phong-an-hop-phong-thuy-ar24712.htm" title="Phòng ăn hợp phong thủy">
                                    Phòng ăn hợp phong thủy
                                </a>
                            </h3>
                        </li>
                    
                        <li >
                            <h3>
                                <a href="/phong-thuy/dem-bac-cau-thang-trong-nha-de-tranh-lao-benh-tu-ar24681.htm" title="Đếm bậc cầu thang trong nhà để tránh "Lão, Bệnh, Tử"">
                                    Đếm bậc cầu thang trong nhà để tránh "Lão, Bệnh, Tử"
                                </a>
                            </h3>
                        </li>
                    
                        <li >
                            <h3>
                                <a href="/phong-thuy/dat-phong-ngu-tren-be-nuoc-ngam-co-pham-phong-thuy-nha-o-khong-ar24677.htm" title="Đặt phòng ngủ trên bể nước ngầm có phạm phong thủy nhà ở không?">
                                    Đặt phòng ngủ trên bể nước ngầm có phạm phong thủy nhà ở ...
                                </a>
                            </h3>
                        </li>
                    
                        <li >
                            <h3>
                                <a href="/phong-thuy/su-dung-guong-kinh-trong-phong-thuy-ar24660.htm" title="Sử dụng gương - kính trong phong thủy">
                                    Sử dụng gương - kính trong phong thủy
                                </a>
                            </h3>
                        </li>
                    
            </ul>

        </div>
        <div class="clear"></div>
    </div>
    <!-- News List -->
    <div class="news-list">
        <ul>
            
                    <li>
                        <div class="liimg">
                            <a href="/phong-thuy/hoa-giai-thanh-sat-do-hang-xom-quanh-nha-am-i-ar24640.htm" title="Hóa giải "Thanh sát" do hàng xóm quanh nhà ầm ĩ">
                                <img src="http://img.dothi.net/crop/203x134//2015/09/14/0Ln61R5F/382400f5e0f400633b5grande2057095-53df.jpg" alt="Hóa giải "Thanh sát" do hàng xóm quanh nhà ầm ĩ" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/phong-thuy/hoa-giai-thanh-sat-do-hang-xom-quanh-nha-am-i-ar24640.htm" title="Hóa giải "Thanh sát" do hàng xóm quanh nhà ầm ĩ">Hóa giải "Thanh sát" do hàng xóm quanh nhà ầm ĩ</a>
                            <p>Những ngôi nhà ở gần những khu vực ồn ào như chợ, sân bay, công trường... trong phong thủy gọi là nhà bị phạm bởi "Thanh sát".</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/phong-thuy/bo-tri-cau-thang-hop-phong-thuy-cho-nha-biet-thu-ar24633.htm" title="Bố trí cầu thang hợp phong thủy cho nhà biệt thự">
                                <img src="http://img.dothi.net/crop/203x134//2015/09/12/Z9BcC3fq/phongthuy-a033.jpg" alt="Bố trí cầu thang hợp phong thủy cho nhà biệt thự" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/phong-thuy/bo-tri-cau-thang-hop-phong-thuy-cho-nha-biet-thu-ar24633.htm" title="Bố trí cầu thang hợp phong thủy cho nhà biệt thự">Bố trí cầu thang hợp phong thủy cho nhà biệt thự</a>
                            <p>Cầu thang là một phần kiến trúc không thể thiếu đối với nhà biệt thự. Tuy nhiên, nếu bố trí cầu thang không đúng cách sẽ vô tình tạo nên dòng chảy năng lượng xấu lan tỏa khắp căn nhà.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/phong-thuy/tai-van-tieu-tan-boi-nha-noi-bat-ar24618.htm" title="Tài vận tiêu tan bởi nhà nổi bật">
                                <img src="http://img.dothi.net/crop/203x134//2015/09/11/Z9BcC3fq/nhacao-3f9c.jpg" alt="Tài vận tiêu tan bởi nhà nổi bật" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/phong-thuy/tai-van-tieu-tan-boi-nha-noi-bat-ar24618.htm" title="Tài vận tiêu tan bởi nhà nổi bật">Tài vận tiêu tan bởi nhà nổi bật</a>
                            <p>Sẽ thật là nổi bật và dễ nhận ra ngôi nhà của bạn nếu nó được xây cao hơn hẳn giữa những căn nhà có chiều cao sàn sàn nhau. Tuy nhiên, về mặt phong thủy, những căn nhà như vậy lại không có lợi, bởi nó sẽ khiến tài vận của gia chủ bị tiêu tan.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/phong-thuy/nhung-bi-quyet-don-gian-giup-tao-sinh-khi-cho-nha-moi-ar24617.htm" title="Những bí quyết đơn giản giúp tạo sinh khí cho nhà mới">
                                <img src="http://img.dothi.net/crop/203x134//2015/09/11/Z9BcC3fq/phongthuy-affe.jpg" alt="Những bí quyết đơn giản giúp tạo sinh khí cho nhà mới" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/phong-thuy/nhung-bi-quyet-don-gian-giup-tao-sinh-khi-cho-nha-moi-ar24617.htm" title="Những bí quyết đơn giản giúp tạo sinh khí cho nhà mới">Những bí quyết đơn giản giúp tạo sinh khí cho nhà mới</a>
                            <p>Ngôi nhà có sinh khí phải là nơi hội tụ được các yếu tố về ánh sáng, các không gian phải tuân thủ được nguyên tắc đón gió để đẩy các luồng khí xấu tự phát trong nhà như khí từ nhà vệ sinh, khí từ bếp, sự ẩm mốc… mang đến một môi trường sống thoải mái.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/phong-thuy/treo-chuong-gio-hop-phong-thuy-giup-tru-ta-hut-vuong-khi-ar24598.htm" title="Treo chuông gió hợp phong thủy giúp trừ tà, hút vượng khí">
                                <img src="http://img.dothi.net/crop/203x134//2015/09/10/Z9BcC3fq/phongthuy1-2712.jpg" alt="Treo chuông gió hợp phong thủy giúp trừ tà, hút vượng khí" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/phong-thuy/treo-chuong-gio-hop-phong-thuy-giup-tru-ta-hut-vuong-khi-ar24598.htm" title="Treo chuông gió hợp phong thủy giúp trừ tà, hút vượng khí">Treo chuông gió hợp phong thủy giúp trừ tà, hút vượng khí</a>
                            <p>Là vật phẩm phong thủy khá quen thuộc trong gia đình, chuông gió có tác dụng điều hòa sinh khí, thu hút năng lượng tốt tứ phía hội tụ vào trong ngôi nhà và ngăn hung khí. Song,  để nhận được điều cát lợi, bạn nên xem xét đến yếu tố phong thủy chuông gió.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/phong-thuy/ruoc-tai-loc-vao-nha-nho-cach-dung-hoa-tuoi-hop-phong-thuy-ar24584.htm" title="Rước tài lộc vào nhà nhờ cách dùng hoa tươi hợp phong thủy">
                                <img src="http://img.dothi.net/crop/203x134//2015/09/09/Z9BcC3fq/phongthuy-d003.jpg" alt="Rước tài lộc vào nhà nhờ cách dùng hoa tươi hợp phong thủy" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/phong-thuy/ruoc-tai-loc-vao-nha-nho-cach-dung-hoa-tuoi-hop-phong-thuy-ar24584.htm" title="Rước tài lộc vào nhà nhờ cách dùng hoa tươi hợp phong thủy">Rước tài lộc vào nhà nhờ cách dùng hoa tươi hợp phong thủy</a>
                            <p>Sự có mặt của những bông hoa tươi màu sắc trong nhà sẽ góp phần tạo nên tươi mới và sinh khí cho không gian sống. Không chỉ vậy, việc cắm hoa hợp phong thủy còn giúp mang lại tài lộc cho gia đình bạn nữa đấy.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/phong-thuy/xay-nha-noi-co-long-mach-giup-sinh-vuong-khi-ar24549.htm" title="Xây nhà nơi có “long mạch” giúp sinh vượng khí">
                                <img src="http://img.dothi.net/crop/203x134//2015/09/08/Z9BcC3fq/phongthuy2-68d9.jpg" alt="Xây nhà nơi có “long mạch” giúp sinh vượng khí" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/phong-thuy/xay-nha-noi-co-long-mach-giup-sinh-vuong-khi-ar24549.htm" title="Xây nhà nơi có “long mạch” giúp sinh vượng khí">Xây nhà nơi có “long mạch” giúp sinh vượng khí</a>
                            <p>Khi xây nhà ở, người ta thường quan tâm nhiều đến đất, bởi, trong đất có nước và khí, là 2 yếu tố ảnh hưởng trực tiếp tới cuộc sống của vạn vật. Nếu chọn được mảnh đất có mạch nước và nguồn khí tốt sẽ giúp sinh vượng khí cho gia đình.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/phong-thuy/nha-dat-vuong-van-mang-lai-dieu-cat-loi-cho-gia-chu-ar24536.htm" title="Nhà đất vuông vắn mang lại điều cát lợi cho gia chủ">
                                <img src="http://img.dothi.net/crop/203x134//2015/09/07/0Ln61R5F/2051007-8f78.jpg" alt="Nhà đất vuông vắn mang lại điều cát lợi cho gia chủ" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/phong-thuy/nha-dat-vuong-van-mang-lai-dieu-cat-loi-cho-gia-chu-ar24536.htm" title="Nhà đất vuông vắn mang lại điều cát lợi cho gia chủ">Nhà đất vuông vắn mang lại điều cát lợi cho gia chủ</a>
                            <p>Trong phong thủy nhà ở, địa thế và hình dạng của mảnh đất có ảnh hưởng rất lớn đến vận hạn, nhất là về vấn đề tiền bạc của gia chủ.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/phong-thuy/phong-thuy-ban-hoc-giup-be-tap-trung-hon-ar24534.htm" title="Phong thủy bàn học giúp bé tập trung hơn">
                                <img src="http://img.dothi.net/crop/203x134//2015/09/07/Z9BcC3fq/phongthuy1-fc51.jpg" alt="Phong thủy bàn học giúp bé tập trung hơn" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/phong-thuy/phong-thuy-ban-hoc-giup-be-tap-trung-hon-ar24534.htm" title="Phong thủy bàn học giúp bé tập trung hơn">Phong thủy bàn học giúp bé tập trung hơn</a>
                            <p>Chọn vị trí bàn học hợp phong thủy sẽ giúp tạo được hứng thú học tập cho con bạn hơn, từ đó, bé sẽ có những kết quả tốt trong việc quá trình học. Dưới đây là một số cách lựa chọn vị trí bàn học cho con theo phong thủy.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/phong-thuy/hoa-giai-the-xau-cua-khu-dat-gan-den-chua-mieu-mao-ar24516.htm" title="Hóa giải thế xấu của khu đất gần đền chùa, miếu mạo">
                                <img src="http://img.dothi.net/crop/203x134//2015/09/05/Z9BcC3fq/phongthuy-67c7.jpg" alt="Hóa giải thế xấu của khu đất gần đền chùa, miếu mạo" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/phong-thuy/hoa-giai-the-xau-cua-khu-dat-gan-den-chua-mieu-mao-ar24516.htm" title="Hóa giải thế xấu của khu đất gần đền chùa, miếu mạo">Hóa giải thế xấu của khu đất gần đền chùa, miếu mạo</a>
                            <p>Theo phong thủy, những công trình kiến trúc tôn giáo, mang tính chất tâm linh, tín ngưỡng như đền chùa hay miếu mạo...thường hội tụ rất nhiều linh khí, nhưng lại không phải là nơi thích hợp để ở.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/phong-thuy/su-dung-mau-sac-giup-chieu-tai-khai-van-ar24504.htm" title="Sử dụng màu sắc giúp "chiêu tài khai vận"">
                                <img src="http://img.dothi.net/crop/203x134//2015/09/04/Z9BcC3fq/mausac-5832.jpg" alt="Sử dụng màu sắc giúp "chiêu tài khai vận"" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/phong-thuy/su-dung-mau-sac-giup-chieu-tai-khai-van-ar24504.htm" title="Sử dụng màu sắc giúp "chiêu tài khai vận"">Sử dụng màu sắc giúp "chiêu tài khai vận"</a>
                            <p>Mùa sắc phong thủy không chỉ là biểu tượng của ngũ hành, mà còn mang một ý nghĩa riêng. Trong đó, có những màu sắc giúp mang lại niềm vui, sự may mắn cho cuộc sống, thậm chí còn có thể chiêu tài khai vận.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/phong-thuy/hoa-giai-nhung-van-xui-don-dap-keo-den-ar24479.htm" title="Hóa giải những vận xui dồn dập kéo đến">
                                <img src="http://img.dothi.net/crop/203x134//2015/09/03/Z9BcC3fq/phongthuy1-8b21.jpg" alt="Hóa giải những vận xui dồn dập kéo đến" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/phong-thuy/hoa-giai-nhung-van-xui-don-dap-keo-den-ar24479.htm" title="Hóa giải những vận xui dồn dập kéo đến">Hóa giải những vận xui dồn dập kéo đến</a>
                            <p>Có những thời điểm bạn không hiểu vì sao sự xui xẻo cứ đeo bám mình. Đó có thể là sự trùng hợp về thời gian, nhưng cũng có thể liên quan đến vấn đề phong thủy. Và đôi khi, chỉ cần một vài thay đổi nhỏ cũng sẽ bạn tránh xa vận đen.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/phong-thuy/xua-duoi-quy-nhan-vi-vap-loi-cam-ky-trong-phong-thuy-ar24463.htm" title="“Xua đuổi” quý nhân vì vấp lỗi cấm kỵ trong phong thủy">
                                <img src="http://img.dothi.net/crop/203x134//2015/09/01/Z9BcC3fq/phongthuy-a453.jpg" alt="“Xua đuổi” quý nhân vì vấp lỗi cấm kỵ trong phong thủy" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/phong-thuy/xua-duoi-quy-nhan-vi-vap-loi-cam-ky-trong-phong-thuy-ar24463.htm" title="“Xua đuổi” quý nhân vì vấp lỗi cấm kỵ trong phong thủy">“Xua đuổi” quý nhân vì vấp lỗi cấm kỵ trong phong thủy</a>
                            <p>Công việc, tài vận cũng như sự nghiệp của bạn sẽ vượng phát và thuận lợi khi có quý nhân phù trợ. Tuy nhiên, những thói quen đi ngược lại các nguyên tắc của phong thủy dưới đây có thể sẽ làm bạn mất đi sự phù trợ của quý nhân.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/phong-thuy/kien-thuc-phong-thuy-nha-bep-ar24441.htm" title="Kiến thức phong thủy nhà bếp">
                                <img src="http://img.dothi.net/crop/203x134//2015/08/31/0Ln61R5F/p3201508212233303676-bb4f.jpg" alt="Kiến thức phong thủy nhà bếp" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/phong-thuy/kien-thuc-phong-thuy-nha-bep-ar24441.htm" title="Kiến thức phong thủy nhà bếp">Kiến thức phong thủy nhà bếp</a>
                            <p>Theo quan niệm của phong thủy cũng như ông bà xưa, bếp được xem là nguồn năng lượng sống, là tài lộc, nơi quyết định sự hưng phát và hạnh phúc của gia đình. Vì vậy, bạn nên lưu ý một chút đến kiến thức phong thủy cho nhà bếp.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/phong-thuy/hoa-giai-khu-bep-bi-nhiem-ban-tu-phong-ve-sinh-ar24430.htm" title="Hóa giải khu bếp bị nhiễm bẩn từ phòng vệ sinh">
                                <img src="http://img.dothi.net/crop/203x134//2015/08/29/Z9BcC3fq/phongthuy-100b.jpg" alt="Hóa giải khu bếp bị nhiễm bẩn từ phòng vệ sinh" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/phong-thuy/hoa-giai-khu-bep-bi-nhiem-ban-tu-phong-ve-sinh-ar24430.htm" title="Hóa giải khu bếp bị nhiễm bẩn từ phòng vệ sinh">Hóa giải khu bếp bị nhiễm bẩn từ phòng vệ sinh</a>
                            <p>Phòng bếp và vệ sinh được thiết kế cạnh nhau sẽ khiến yếu tố tiền tài và sức khỏe của cả gia đình bị ảnh hưởng nghiêm trọng. Nếu lỡ phạm phải kiểu thiết kế này, bạn có thể tham khảo những hướng hóa giải dưới đây:</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
        </ul>
    </div>
    <div class="pager_controls">
        <a href='/phong-thuy.htm' title='P1'><div  class='style-pager-row-selected' align='center'>1</div></a><a href='/phong-thuy/p2.htm' title='P2'><div  class='style-pager-row' align='center'>2</div></a><a href='/phong-thuy/p3.htm' title='P3'><div  class='style-pager-row' align='center'>3</div></a><a href='/phong-thuy/p4.htm' title='P4'><div  class='style-pager-row' align='center'>4</div></a><a href='/phong-thuy/p5.htm' title='P5'><div  class='style-pager-row' align='center'>5</div></a><a href='/phong-thuy/p2.htm'  title='P2'><div  class='style-pager-button-next-first-last' align='center'>Trang sau</div></a><a href='/phong-thuy/p46.htm' title='P46'><div  class='style-pager-button-next-first-last' align='center'>Trang cuối</div></a><span id="ContentPlaceHolder1_ctl00_ProductsPager"></span>
    </div>
    <div class="clear"></div>
</div>

</div>
                <div class="clear"></div>
            </div>
            <!-- Content Right -->
            <div class="content-right">
                <!-- Box search list -->
                
<link href="Scripts/jquery-ui.css" rel="stylesheet" />
<div class="box-search">
                    <div class="bs-tab">
                        <div class="tab-sell" id="divSellList">BĐS bán</div>
                        <div class="tab-sell" id="divRentList">BĐS cho thuê</div>
                    </div>
                    <div class="bs-content">
                        <div class="bs-item" id="KeyDownEnterHome" style="background:none;">
                            <input name="ctl00$ContentPlaceHolder1$BoxSearchList1$txtAutoComplete" type="text" id="txtAutoComplete" class="ui-autocomplete-input" placeholder="Nhập địa điểm, vd: The Manor" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" />
                        </div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboType" id="hddcboType" value="-1" />
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboCate" id="hddcboCate" value="36" />
                        <div class="bs-item" id="cboCate"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboCity" id="hddcboCity" value="VN" />
                        <div class="bs-item" id="cboCity"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboDist" id="hddcboDist" value="-1" />
                        <div class="bs-item" id="cboDist"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboArea" id="hddcboArea" value="-1" />
                        <div class="bs-item" id="cboArea"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboPrice" id="hddcboPrice" value="-1" />
                        <div class="bs-item" id="cboPrice"></div>
                        <div id="bs-advance">
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboWard" id="hddcboWard" value="-1" />
                        <div class="bs-item" id="cboWard"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboStreet" id="hddcboStreet" value="-1" />
                        <div class="bs-item" id="cboStreet"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboDirection" id="hddcboDirection" value="-1" />
                        <div class="bs-item" id="cboDirection"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboRoom" id="hddcboRoom" value="-1" />
                        <div class="bs-item" id="cboRoom"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboProject" id="hddcboProject" value="-1" />
                        <div class="bs-item" id="cboProject"></div>
                            </div>
                        <div class="bs-action">
                            <div class="bs-advance"><a id="hplAdvance" href="javascript:ShowBSAdvance();">Tìm kiếm nâng cao</a></div>
                            <div class="bs-search">
                                 <a id="ContentPlaceHolder1_BoxSearchList1_lbtSearch" class="btnsearch" href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$BoxSearchList1$lbtSearch&#39;,&#39;&#39;)"><img src="Images/btnSearch.png" /></a>

                            </div>
                        </div>
                    </div>
                </div>

<script src="Scripts/BoxSearchList.min.js?v=20150922" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        var cnt = 0;
        $("#KeyDownEnterHome").keyup(function (event) {
            if (event.keyCode == 13 && cnt > 0) {
                cnt = 0;
                window.__doPostBack('ctl00$ContentPlaceHolder1$BoxSearchList1$lbtSearch', '');
            }
            else if (event.keyCode == 13) {
                cnt++;
            }
        });
    });
</script>
                <!-- News hight light -->
                
<div class="news-hightlight">
    <div class="nh-title">
        <h3><a href="javascript:">Tin tức nổi bật</a></h3>
    </div>
    <div class="nh-content">
        <ul>
            
                    <li>
                        <a href="/bds-the-gioi/bo-dao-nha-thi-truong-bat-dong-san-khoi-sac-ar24653.htm" title="Bồ Đào Nha: Thị trường bất động sản khởi sắc">Bồ Đào Nha: Thị trường bất động sản khởi sắc</a>
                    </li>
                
                    <li>
                        <a href="/chinh-sach-quy-hoach/ha-noi-225-biet-thu-duoc-xac-dinh-gia-tri-dac-biet-ar24651.htm" title="Hà Nội: 225 biệt thự được xác định giá trị đặc biệt">Hà Nội: 225 biệt thự được xác định giá trị đặc biệt</a>
                    </li>
                
                    <li>
                        <a href="/tu-van-luat/dat-thuoc-loai-nao-thi-duoc-vay-von-ho-tro-xay-nha-ar24650.htm" title="Đất thuộc loại nào thì được vay vốn hỗ trợ xây nhà?">Đất thuộc loại nào thì được vay vốn hỗ trợ xây nhà?</a>
                    </li>
                
                    <li>
                        <a href="/chinh-sach-quy-hoach/ha-noi-trong-8-thang-dau-nam-moi-giao-duoc-30-dat-dich-vu-ar24648.htm" title="Hà Nội: Trong 8 tháng đầu năm mới giao được 30% đất dịch vụ">Hà Nội: Trong 8 tháng đầu năm mới giao được 30% đất dịch vụ</a>
                    </li>
                
                    <li>
                        <a href="/chinh-sach-quy-hoach/bo-tai-chinh-de-xuat-mien-thue-dat-cho-muc-nop-duoi-50000-dongnam-ar24647.htm" title="Bộ Tài chính đề xuất miễn thuế đất cho mức nộp dưới 50.000 đồng/năm">Bộ Tài chính đề xuất miễn thuế đất cho mức nộp dưới 50.000 đồng/năm</a>
                    </li>
                
        </ul>
        <div class="clear"></div>
    </div>
</div>

                <!-- Hot toppic -->
                
<div class="product-count">
                    <div class="pc-title">
                        <div class="pc-icon">
                            <img src="/Styles/Images/icon-foruser.png" />
                        </div>
                        <h3>Chủ đề được quan tâm</h3>
                    </div>
                    <div class="pc-content pc-content-hottoppic">
                        <ul id="ulProductCount">
                             
                            <li>
                                <h3>
                                    <a href="/chu-de/do-phong-thuy.htm" title='Đồ phong thủy'>
                                       Đồ phong thủy
                                    </a>
                                </h3>
                            </li> 
                             
                            <li>
                                <h3>
                                    <a href="/chu-de/bieu-tuong-phong-thuy.htm" title='Biểu tượng phong thủy'>
                                       Biểu tượng phong thủy
                                    </a>
                                </h3>
                            </li> 
                             
                            <li>
                                <h3>
                                    <a href="/chu-de/bai-tri-nha-cua-hop-phong-thuy.htm" title='Bài trí nhà cửa hợp phong thủy'>
                                       Bài trí nhà cửa hợp phong thủy
                                    </a>
                                </h3>
                            </li> 
                             
                            <li>
                                <h3>
                                    <a href="/chu-de/phong-thuy-giuong-ngu.htm" title='Phong thủy giường ngủ'>
                                       Phong thủy giường ngủ
                                    </a>
                                </h3>
                            </li> 
                             
                            <li>
                                <h3>
                                    <a href="/chu-de/phong-thuy-cho-nha-o.htm" title='Phong thủy cho nhà ở'>
                                       Phong thủy cho nhà ở
                                    </a>
                                </h3>
                            </li> 
                             
                        </ul>
                    </div>
                </div>
                
                <!-- Utility -->
                
<div class="utility">
    <div class="utility-title">
        <h3>Tính năng hỗ trợ</h3>
    </div>
    <div class="utility-content">
        <ul>
            <li class="email"><a rel="nofollow" href="javascript:" id="UtilityRegisterEmail" class="fancybox.ajax">Nhận bđs qua email</a></li>
            <li class="lifengshui"><a  rel="nofollow" href="javascript:" id="UtilityFengShui" class="fancybox.ajax">Xem phong thủy theo tuổi</a></li>
            
            <li class="laixuat"><a  rel="nofollow" href="javascript:" id="UtilityInterest" class="fancybox.ajax">Tính lãi suất vay ngân hàng</a></li>
            
            <li class="vanban "><a  rel="nofollow" href="/van-ban-nganh-xay-dung.htm">Văn bản ngành xây dựng</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

                

<div class="product-count">
    <div class="pc-title">
        <div class="pc-icon">
            <img src="/Styles/Images/icon-foruser.png" />
        </div>
        <h3>Liên kết nổi bật</h3>
    </div>
    <div class="pc-content">
        <ul id="ulBoxHotHome">
            <li>
                <h3><a href="/ban-dat-nen-du-an-phu-nhuan.htm">Bán đất nền Quận Phú Nhuận</a></h3>
            </li>
            <li>
                <h3><a href="/ban-dat-nen-du-an-quan-9.htm">Bán đất nền Quận 9</a></h3>
            </li>
            <li>
                <h3><a href="/ban-dat-nen-du-an-phuong-an-phu-dong-1.htm">Bán đất nền phường An Phú Đông </a></h3>
            </li>

            <li>
                <h3><a href="/ban-dat-nen-du-an-phu-quoc-kg.htm">Bán Đất nền Phú Quốc</a></h3>
            </li>

            <li>
                <h3><a href="/ban-can-ho-chung-cu-jamona-city.htm">Bán chung cư Jamona Apartment </a></h3>
            </li>

            <li>
                <h3><a href="/ban-dat-nen-du-an-binh-duong.htm">Bán đất nền Bình Dương</a></h3>
            </li>

            <li>
                <h3><a href="/ban-can-ho-chung-cu-bac-tu-liem.htm">Bán chung cư Quận Bắc Từ Liêm</a></h3>
            </li>

            <li>
                <h3><a href="/ban-dat-nen-du-an-ben-cat-bd.htm">Bán đất nền Huyện Bến Cát</a></h3>
            </li>

            <li>
                <h3><a href="/ban-nha-biet-thu-lien-ke-phuong-phu-huu-2.htm">Bán liền kề phường Phú Hữu</a></h3>
            </li>

            <li>
                <h3><a href="/ban-dat-nen-du-an-quan-2.htm">Bán đất nền Quận 2 </a></h3>
            </li>

            <li>
                <h3><a href="/ban-can-ho-chung-cu-binh-tan.htm">Bán chung cư quận Bình Tân</a></h3>
            </li>

            <li>
                <h3><a href="/ban-dat-nen-du-an-di-an-bd.htm">Bán đất nền Huyện Dĩ An</a></h3>
            </li>

            <li>
                <h3><a href="/ban-can-ho-chung-cu-ha-dong.htm">Bán chung cư Quận Hà Đông</a></h3>
            </li>

            <li>
                <h3><a href="/ban-can-ho-chung-cu-quan-7.htm">Bán chung cư quận 7</a></h3>
            </li>

            <li>
                <h3><a href="/ban-dat-nen-du-an-quan-12.htm">Bán đất nền Quận 12</a></h3>
            </li>

            <li>
                <h3><a href="/ban-dat-nen-du-an-thu-duc.htm">Bán đất nền Quận Thủ Đức</a></h3>
            </li>

            <li>
                <h3><a href="/ban-can-ho-chung-cu-nam-tu-liem.htm">Bán chung cư Quận Nam Từ Liêm</a></h3>
            </li>
            <li>
                <h3><a href="/ban-dat-nen-du-an-tan-uyen-bd.htm">Bán đất nền Huyện Tân Uyên</a></h3>
            </li>
            <li style="display: none">
                <h3><a href="/ban-dat-nen-du-an-thuan-an-bd.htm">Bán đất nền Huyện Thuận An</a></h3>
            </li>
   
            <li style="display: none">
                <h3><a href="/ban-can-ho-chung-cu-hoang-mai.htm">Bán chung cư Quận Hoàng Mai</a></h3>
            </li>
            <li style="display: none">
                <h3><a href="/ban-can-ho-chung-cu-cau-giay.htm">Bán chung cư Quận Cầu Giấy</a></h3>
            </li>
            <li style="display: none">
                <h3><a href="/ban-can-ho-chung-cu-thanh-xuan.htm">Bán chung cư Quận Thanh Xuân</a></h3>
            </li>
            <li style="display: none">
                <h3><a href="/ban-dat-nen-du-an-phuong-tan-hung-thuan-1.htm">Bán đất nền phường Tân Hưng Thuận</a></h3>
            </li>
            <li style="display: none">
                <h3><a href="/ban-nha-rieng-phuong-nghia-tan-3.htm">Bán nhà Nghĩa Tân</a></h3>
            </li>
            <li style="display: none">
                <h3><a href="/ban-can-ho-chung-cu-hai-ba-trung.htm">Bán chung cư Quận Hai Bà Trưng</a></h3>
            </li>
            <li style="display: none">
                <h3><a href="/ban-can-ho-chung-cu-long-bien.htm">Bán chung cư Quận Long Biên</a></h3>
            </li>

        </ul>
        <div class="pc-extra" id="showBoxhotHome">
            <a href="javascript:showBoxHotHome();" rel="nofollow">
                <img src="Images/xemtatca.png" />
            </a>
        </div>
    </div>
</div>

                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

            <div class="clear"></div>
        </div>
        <!-- Footer -->
        
<div class="footer">
    <div class="menu-bottom">
        <ul>
            <li><a href="/gioi-thieu.htm" rel="nofollow">Giới thiệu</a></li>
            <li><a href="/huong-dan.htm" rel="nofollow">Hướng dẫn sử dụng</a></li>
            <li><a href="/quy-dinh.htm" rel="nofollow">Quy định</a></li>
            <li><a href="/lien-he.htm" rel="nofollow">Liên hệ</a></li>
            
            <li><a href="/dieu-khoan.htm" rel="nofollow">Điều khoản thỏa thuận</a></li>
             <li><a href="/bao-gia.htm" rel="nofollow">Báo giá</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="footer_bottom">
        <div class="row_footer">
            <div class="logo_footer">
                <a href="/" title="Đô thị">
                    <img src="Images/logo.png" alt="Đô thị"></a>
            </div>
            <div class="info_footer">
                <p>Giấy phép hoạt động trang tin điện tử ICP số 23/GP-TTĐT.</p>
                <p>Copyright © 2010 - 2015 Dothi.net. ® Ghi rõ nguồn "Dothi.net" khi phát hành lại thông tin từ website này.</p>
                <p class="info_ct">
                    <span>Hot line:  0903 236 862 - 0969 980 365 </span>
                    <a rel="nofollow" href="mailto:cskh@info@dothi.net?Subject=Liên hệ-info@dothi.net" target="_top">Email: info@dothi.net</a>
                    <a href="skype:cskh.dothinet?chat" rel="nofollow">Skype: cskh.dothinet</a>
                    <a href="ymsgr:sendim?cskh.dothinet" rel="nofollow">Yahoo: cskh.dothinet</a>
                </p>
                <p class="info_ct">
                    <span>Địa chỉ: Số 80B - Nguyễn Văn Cừ - Long Biên - HN.</span>
                </p>
            </div>
            <div class="clear">
            </div>
            <div class="bd_footer"></div>
        </div>
        <div class="share_footer">
            <span style="float: left;">Phát triển bởi: <a href="http://vgroup.vn" rel="nofollow" title="VGROUP" target="_blank" class="color00ffd1">VGROUP</a></span>
            <iframe src="//www.facebook.com/plugins/like.php?href=https://www.facebook.com/pages/Dothinet/501286850027197&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21" scrolling="no" frameborder="0" style="border: none;overflow: hidden;height: 21px;float: left;width: 165px;margin-left: 20px;" allowtransparency="true"></iframe>
            <script src="https://apis.google.com/js/platform.js" async defer>
                         {lang: 'vi'}
            </script>
            <!-- Đặt thẻ này vào nơi bạn muốn Nút +1 kết xuất. -->
            <div class="g-plusone" data-size="medium" data-annotation="inline" data-href="https://plus.google.com/u/2/104751964857878543083/posts" data-width="100"></div>
            <a class="twitter-share-button"
                href="https://twitter.com/share">Tweet
            </a>
            <script type="text/javascript">
                window.twttr = (function (d, s, id) { var t, js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) { return } js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } }) }(document, "script", "twitter-wjs"));
            </script>

        </div>
    </div>
    <div class="clear"></div>
</div>

        <div id="boxProductSaved" style="">
            <div class="titlebox">
                <span class="title">Tin đã lưu</span> <span id="deleteAll" title="Xóa tất cả" onclick="deleteAllNews();"></span><span id="btn_close" class="hideAll"></span>
            </div>
            <div>
                <ul class="listbox" style="width: 100%;">
                </ul>
            </div>
        </div>
        <!-- End Footer -->
        <div id="SiteLeft" style="display: none">
            <div class="ban_scroll" id="ban_left" style="width: 100px">
                <div class="item">
                    <embed id="ban_l1" width="100" height="300" quality="high" name="plugin" src="Images/banner/banner-150820-100x300.swf" flashvars="link=http://file.dothi.net/KM/dang-tin-rinh-qua-khung.html" type="application/x-shockwave-flash" wmode="transparent">
                </div>
                <div class="item">
                    <a id="ban_l2" href="http://banxehoi.com" rel="nofollow" target="_blank" style="width: 100px">
                        <img src="Images/banner/100x300-dang-tin-mau-ban-xe-hoi.gif" />
                    </a>
                </div>
            </div>
        </div>
        <div id="SiteRight" style="display: none">
            <div class="ban_scroll" id="ban_right" style="width: 100px">
                <div class="item">
                    <embed id="ban_r1" width="100" height="300" quality="high" name="plugin" src="Images/banner/banner-150820-100x300.swf" flashvars="link=http://file.dothi.net/KM/dang-tin-rinh-qua-khung.html" type="application/x-shockwave-flash" wmode="transparent">
                </div>
                <div class="item">
                    <a id="ban_r2" href="http://banxehoi.com" rel="nofollow" target="_blank" style="width: 100px">
                        <img src="Images/banner/100x300-dang-tin-mau-ban-xe-hoi.gif" />
                    </a>
                </div>
            </div>
        </div>

    </form>
</body>
</html>
