
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta charset="utf-8" /><title>
	Tư vấn luật
 | dothi.net
</title><link href="/Images/favicon.ico?v=1" rel="shortcut icon" type="image/x-icon" /><link href="Styles/reset.css" rel="stylesheet" />
    <link href="Styles/Styles.min.css?v=20150922" rel="stylesheet" />
    <link href="Scripts/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <!-- Scripts -->

    <script src="Scripts/jquery-1.7.2.min.js"></script>
    <script src="Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="Scripts/ExcoloSlider/jquery.excoloSlider.js"></script>
    <link href="Scripts/ExcoloSlider/jquery.excoloSlider.css" rel="stylesheet" /><link rel="stylesheet" type="text/css" href="Scripts/Fancybox/source/jquery.fancybox.css" media="all" />
    <script type="text/javascript" src="Scripts/Fancybox/source/jquery.fancybox.js"></script>
    <script src="Scripts/Common.min.js?v=20150922"></script>
    <script type="text/javascript" src="Scripts/jquery.placeholder.min.js"></script>
    <script src="Scripts/jquery.cookie-1.4.1.js" type="text/javascript"></script>
    <script type="text/javascript">
        var domainCookie = '172.16.15.55'
        var productId = '0';
        var userId = '';
    </script>
    <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    //js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=711922948870179&version=v2.0";
    js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
    </script>
    <meta name="keywords" content="tư vấn, luật đất đai, tư vấn kiến trúc, xây dựng, phong thủy, không gian sống,thiết kế kiến trúc, kiến trúc đẹp, tư vấn thiết kế, mẫu nhà đẹp, thiết kế nhà, thiết kế nội thất,  thiết kế xây dựng, hồ sơ xây dựng, thiết kế nội thất, trang trí nhà, mẫu nhà đẹp, kiến trúc, xây dựng dân dụng, nhà đẹp, nhà đẹp nhất Việt Nam, không gian nhà đẹp, mẫu thiết kế nhà đẹp, thiết kế biệt thự, mẫu biệt thự đẹp, nhà đẹp, kiến trúc nhà đẹp, kiến trúc nhà đẹp, thiết kế nhà, thiết kế nhà đẹp, tư vấn xây dựng" /><meta name="description" content="Trả lời, tư vấn của luật sư về các vấn đề liên quan đến bất động sản. Luật Đất đai, Luật Xây dựng, Luật Kinh doanh bất động sản, thuế sử dụng đất, tiền thuê đất, thu hồi đất, cấp sổ đỏ, chuyển nhượng nhà đất…" />
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-54660981-1', 'auto');
        ga('send', 'pageview');

    </script>
    
<link media="only screen and (max-width: 640px)" rel="alternate" href="http://m.dothi.net/tu-van-luat.htm" /><link media="handheld" rel="alternate" href="http://m.dothi.net/tu-van-luat.htm" /><meta name="title" /><meta name="description" content="Trả lời, tư vấn của luật sư về các vấn đề liên quan đến bất động sản. Luật Đất đai, Luật Xây dựng, Luật Kinh doanh bất động sản, thuế sử dụng đất, tiền thuê đất, thu hồi đất, cấp sổ đỏ, chuyển nhượng nhà đất…" /></head>
<body>
    <form method="post" action="/tu-van-luat.htm" id="Form1">
<div class="aspNetHidden">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTkxODc5MTg0NmRksdadqQdKTgbXjnQ+PilXuS38Vmw=" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['Form1'];
if (!theForm) {
    theForm = document.Form1;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


        <!-- Header -->
        
<div id="wr_header" class="header">
    
<div class="header-register" id="headerregister">
    <div class="action">
        
        
        <div class="logon">
            <a href="/dang-nhap.htm" rel="nofollow" title="Đăng nhập">
                <span>Đăng nhập</span>
            </a>
        </div>
        <div class="register">
            <a href="/dang-ky.htm" rel="nofollow" title="Đăng ký">
                <span>Đăng ký</span>
            </a>
        </div>

        
    </div>
</div>

    <div class="header-logo">
        <div class="hdcontent">
            <div class="content-logo">
                <a href="/" title="Đô thị">
                    <img src="Images/logo.png" alt="Đô thị"></a>
            </div>
            <div class="MultiBanner1 content-banner" id="Banner" style="display: none">
                
                <a href="http://banxehoi.com" target="_blank" rel="nofollow">
                    <img src="Images/banner/746x96-dang-tin-mua-ban-de-dang.gif" /></a>
            </div>
            <div class="MultiBanner2 content-banner" id="Banner2" style="display:none">
                <embed width="746" height="96" quality="high" name="plugin" src="Images/banner/banner-150820-728x90.swf" type="application/x-shockwave-flash" flashvars="link=http://file.dothi.net/KM/dang-tin-rinh-qua-khung.html" wmode="transparent">
            </div>

            <div class="MultiBanner3 content-banner" id="Banner3" style="display: none">
                <embed width="746" height="96" quality="high" name="plugin" src="Images/banner/banner_top_vinhome_hcm.swf" type="application/x-shockwave-flash" flashvars="link=http://canholandmark81.com/mat-bang-the-park-1-vinhomes-central-park-11170.html" wmode="transparent">
            </div>

            <div class="MultiBanner4 content-banner" style="display: none">
                <a href="http://dothi.net/ban-dat-nen-du-an-kdc-phu-nhuan-phuoc-long-b/sieu-thi-dat-nen-du-an-phu-nhuan-quan-9-0907107686-pr3288166.htm" target="_blank">
                    <img src="Images/banner/banner-dat-nen-du-an-phu-nhuan-728x90.gif" /></a>
            </div>

            
        </div>
    </div>
    <script type="text/javascript">
        function detectmob() {
            if (navigator.userAgent.match(/Android/i)
         || navigator.userAgent.match(/webOS/i)
         || navigator.userAgent.match(/iPhone/i)
         || navigator.userAgent.match(/iPad/i)
         || navigator.userAgent.match(/iPod/i)
         || navigator.userAgent.match(/BlackBerry/i)
         || navigator.userAgent.match(/Windows Phone/i)
         ) {
                return true;
            }
            else {
                return false;
            }
        }

        if (detectmob()) {
            //$("#Banner").html('<a title="banxehoi.com" target="_blank" href="http://banxehoi.com"><img  style="width:746px; height:96px" src="Images/banner/banxehoi746x96.gif"></a>');
        }
        //setInterval(function () {
        //    $('.MultiBanner1').toggle();
        //    $('.MultiBanner2').toggle();
        //}, 10000);

    </script>

</div>

        <!-- End Header -->
        <!-- Me nú -->
        
<div class="menu">
    <div class="menu-content">
        <ul class="nav-menu">
            <li class="lv0 ">
                <a href="/" title="Trang chủ">Trang chủ
                </a>
            </li>
            <li class="lv0">
                <a href="/nha-dat-ban.htm" title="BĐS bán">BĐS bán</a>
                <ul class="dropdown-menu">
                    <li><a href="/ban-can-ho-chung-cu.htm" title="Bán căn hộ chung cư">Bán căn hộ chung cư</a></li>
                    <li><a href="/ban-nha-dat.htm" title="Tất cả các loại nhà bán">Tất cả các loại nhà bán</a></li>
                    <li><a href="/ban-nha-rieng.htm" title="Bán nhà riêng">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bán nhà riêng</a></li>
                    <li><a href="/ban-nha-biet-thu-lien-ke.htm" title="Bán nhà biệt thự, liền kề">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bán nhà biệt thự, liền kề</a></li>
                    <li><a href="/ban-nha-mat-pho.htm" title="Bán nhà mặt phố">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bán nhà mặt phố</a></li>
                    <li><a href="/ban-dat-dat-nen.htm" title="Tất cả các loại đất bán">Tất cả các loại đất bán</a></li>
                    <li><a href="/ban-dat-nen-du-an.htm" title="Bán đất nền dự án">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bán đất nền dự án</a></li>
                    <li><a href="/ban-dat.htm" title="Bán đất">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bán đất</a></li>
                    <li><a href="/ban-trang-trai-khu-nghi-duong.htm" title="Bán trang trại, khu nghỉ dưỡng">Bán trang trại, khu nghỉ dưỡng</a></li>
                    <li><a href="/ban-kho-nha-xuong.htm" title="Bán kho, nhà xưởng">Bán kho, nhà xưởng</a></li>
                    <li><a href="/ban-loai-bat-dong-san-khac.htm" title="Bán loại bất động sản khác">Bán loại bất động sản khác</a></li>
                </ul>
            </li>
            <li class="lv0">
                <a href="/nha-dat-cho-thue.htm" title="BĐS cho thuê">BĐS cho thuê</a>
                <ul class="dropdown-menu">
                    <li><a href="/cho-thue-can-ho-chung-cu.htm" title="Cho thuê căn hộ chung cư">Cho thuê căn hộ chung cư</a></li>
                    <li><a href="/cho-thue-nha-rieng.htm" title="Cho thuê nhà riêng">Cho thuê nhà riêng</a></li>
                    <li><a href="/cho-thue-nha-mat-pho.htm" title="Cho thuê nhà mặt phố">Cho thuê nhà mặt phố</a></li>
                    <li><a href="/cho-thue-nha-tro-phong-tro.htm" title="Cho thuê nhà trọ, phòng trọ">Cho thuê nhà trọ, phòng trọ</a></li>
                    <li><a href="/cho-thue-van-phong.htm" title="Cho thuê văn phòng">Cho thuê văn phòng</a></li>
                    <li><a href="/cho-thue-cua-hang-ki-ot.htm" title="Cho thuê cửa hàng, ki ốt">Cho thuê cửa hàng, ki ốt</a></li>
                    <li><a href="/cho-thue-kho-nha-xuong-dat.htm" title="Cho thuê kho, nhà xưởng, đất">Cho thuê kho, nhà xưởng, đất</a></li>
                    <li><a href="/cho-thue-loai-bat-dong-san-khac.htm" title="Cho thuê loại bất động sản khác">Cho thuê loại bất động sản khác</a></li>
                </ul>
            </li>
            <li class='lv0'><a href="/tin-tuc.htm" title="Tin tức">Tin tức</a><ul class="dropdown-menu"><li><a href="/tin-thi-truong.htm" title="Tin thị trường">Tin thị trường</a></li><li><a href="/chinh-sach-quy-hoach.htm" title="Chính sách - Quy Hoạch">Chính sách - Quy Hoạch</a></li><li><a href="/tin-du-an.htm" title="Tin dự án">Tin dự án</a></li><li><a href="/bds-the-gioi.htm" title="BĐS Thế giới">BĐS Thế giới</a></li></ul></li><li class='lv0'><a href="/thiet-ke-kien-truc.htm" title="Thiết kế kiến trúc">Thiết kế kiến trúc</a><ul class="dropdown-menu"><li><a href="/tu-van-thiet-ke.htm" title="Tư vấn thiết kế
">Tư vấn thiết kế
</a></li><li><a href="/kien-thuc-xay-dung.htm" title="Kiến thức xây dựng">Kiến thức xây dựng</a></li><li><a href="/the-gioi-kien-truc.htm" title="Thế giới kiến trúc
">Thế giới kiến trúc
</a></li></ul></li><li class='lv0'><a href="/khong-gian-song.htm" title="Không gian sống">Không gian sống</a><ul class="dropdown-menu"><li><a href="/nha-dep.htm" title="Nhà đẹp">Nhà đẹp</a></li><li><a href="/noi-that.htm" title="Nội thất">Nội thất</a></li><li><a href="/ngoai-that.htm" title="Ngoại thất
">Ngoại thất
</a></li><li><a href="/mach-ban.htm" title="Mách bạn
">Mách bạn
</a></li></ul></li><li class='lv0'><a href="/phong-thuy.htm" title="Phong thủy">Phong thủy</a></li><li class='lv0'><a href="/tu-van-luat.htm" title="Tư vấn luật
">Tư vấn luật
</a></li>
            <li class="lv0">
                <a href="/du-an-bat-dong-san.htm" title="Dự án">Dự án</a>
                <ul class="dropdown-menu">
                    <li><a href="/cao-oc-van-phong.htm" title="Cao ốc văn phòng">Cao ốc văn phòng</a></li>
                    <li><a href="/khu-can-ho.htm" title="Khu căn hộ">Khu căn hộ</a></li>
                    <li><a href="/khu-do-thi-moi.htm" title="Khu đô thị mới">Khu đô thị mới</a></li>
                    <li><a href="/khu-thuong-mai-dich-vu.htm" title="Khu thương mại dịch vụ">Khu thương mại dịch vụ</a></li>
                    <li><a href="/khu-phuc-hop.htm" title="Khu phức hợp">Khu phức hợp</a></li>
                    <li><a href="/khu-dan-cu.htm" title="Khu dân cư">Khu dân cư</a></li>
                    <li><a href="/khu-du-lich-nghi-duong.htm" title="Khu du lịch nghỉ dưỡng">Khu du lịch nghỉ dưỡng</a></li>
                    <li><a href="/khu-cong-nghiep.htm" title="Khu công nghiệp">Khu công nghiệp</a></li>
                    <li><a href="/du-an-khac.htm" title="Dự án khác">Dự án khác</a></li>
                </ul>
            </li>
            
            <li class="postnew lv0"><a href="/dang-tin-ban-cho-thue-nha-dat.htm" title="Đăng tin">Đăng tin</a></li>
            
        </ul>
    </div>
</div>
<script type="text/javascript">
    var href = window.location.pathname;
    var a_return = new Array(); // Danh sách Url được active
    var AllUrl = new Array(); // arr Url
    var ElementUrl = $(".nav-menu li a");

    var arrHref = href.split("/"); // phân tích current url 

    for (var i = 0; i < ElementUrl.length; i++) {
        var abc = ElementUrl[i].toString().split("/");
        if (abc.length > 3) {
            AllUrl.push(abc[3].replace(".htm", "")); // lấy được arr url
        }
    }

    if (arrHref.length >= 2) {
        var currentUrl = arrHref[1];
        for (var i = 0; i < AllUrl.length; i++) {
            var _index = currentUrl.search(AllUrl[i]); //Duyet chuoi danh sach Url de so sanh voi Current Url
            if (_index != -1) {
                a_return.push(AllUrl[i]); //Neu la tap con cua URL thi add vao array 
            }
        }
    }

    var return_data = "";
    var return_index = 0;
    for (x in a_return) {
        if (a_return[x].length > return_index) {//so sanh do dai lon nhat trung` voi URL thi lay gia tri
            return_index = a_return[x].length;
            return_data = a_return[x]; //gia tri can lay (duy nhat 1 gia tri)
        }
    }
    var taga = $('.nav-menu,.dropdown-menu').find('a[href=\'/' + return_data + '.htm\']');

    if (taga.length > 0) {
        setActiveClass(taga, 0);
    }

    function setActiveClass(tag, interval) {
        $(".lv0").removeClass('active');
        tag.addClass('active');
        if (tag.hasClass('lv0')) {
            return;
        }
        interval++;
        if (interval <= 3) { // Menu dothi chỉ có 2 cấp, ul > li > ul > li. ra 3 cấp mới set được parrent
            setActiveClass(tag.parent(), interval);
        } else {
        }
    }
</script>

        <div class="wr_page">
            
    <div class="index-page">
        <div class="content">
            <!-- Content Left -->
            <div class="content-left">
                <!-- News Break Cum -->
                
<div class="nl-breakcum">
    <ul>
         <li class='active'><h2><a href="/tu-van-luat.htm"  >Tư vấn luật
</a></h2></li>
    </ul>
    <div class="clear"></div>
</div>

                <div class="clear"></div>
                <div id="ContentPlaceHolder1_pnLoadControl">
	

<div class="articlelist">
    <div id="ContentPlaceHolder1_ctl00_divArticleHost" class="news-default">
        <div class="news-default-left">
            
            <a href="/tu-van-luat/xac-dinh-quyen-so-huu-cho-nha-co-dien-tich-duoi-50m2-ar24762.htm" title="Xác định quyền sở hữu cho nhà có diện tích dưới 50m2">
                <img src="http://img.dothi.net/crop/318x228//2015/09/22/Z9BcC3fq/m2-3f42.jpg" alt="Xác định quyền sở hữu cho nhà có diện tích dưới 50m2" />
            </a>
            <h2>
                <a href="/tu-van-luat/xac-dinh-quyen-so-huu-cho-nha-co-dien-tich-duoi-50m2-ar24762.htm" title="Xác định quyền sở hữu cho nhà có diện tích dưới 50m2">Xác định quyền sở hữu cho nhà có diện tích dưới 50m2</a>
            </h2>
            
        </div>
        <div class="news-default-right">
            <ul>
                
                        <li class='first'>
                            <h3>
                                <a href="/tu-van-luat/chinh-quyen-khong-duoc-cap-dat-trai-phap-luat-ar24739.htm" title="Chính quyền không được cấp đất trái pháp luật">
                                    Chính quyền không được cấp đất trái pháp luật
                                </a>
                            </h3>
                        </li>
                    
                        <li >
                            <h3>
                                <a href="/tu-van-luat/hoi-ve-viec-xin-giay-phep-xay-dung-tren-khu-dat-hon-hop-ar24703.htm" title="Hỏi về việc xin giấy phép xây dựng trên khu đất hỗn hợp">
                                    Hỏi về việc xin giấy phép xây dựng trên khu đất hỗn hợp
                                </a>
                            </h3>
                        </li>
                    
                        <li >
                            <h3>
                                <a href="/tu-van-luat/xin-giay-phep-xay-dung-khi-doi-dat-ar24680.htm" title="Xin giấy phép xây dựng khi đổi đất">
                                    Xin giấy phép xây dựng khi đổi đất
                                </a>
                            </h3>
                        </li>
                    
                        <li >
                            <h3>
                                <a href="/tu-van-luat/thoi-hieu-khoi-kien-thua-ke-dat-dai-ar24663.htm" title="Thời hiệu khởi kiện thừa kế đất đai">
                                    Thời hiệu khởi kiện thừa kế đất đai
                                </a>
                            </h3>
                        </li>
                    
                        <li >
                            <h3>
                                <a href="/tu-van-luat/dat-thuoc-loai-nao-thi-duoc-vay-von-ho-tro-xay-nha-ar24650.htm" title="Đất thuộc loại nào thì được vay vốn hỗ trợ xây nhà?">
                                    Đất thuộc loại nào thì được vay vốn hỗ trợ xây nhà?
                                </a>
                            </h3>
                        </li>
                    
            </ul>

        </div>
        <div class="clear"></div>
    </div>
    <!-- News List -->
    <div class="news-list">
        <ul>
            
                    <li>
                        <div class="liimg">
                            <a href="/tu-van-luat/chia-thua-ke-co-yeu-to-nuoc-ngoai-ar24623.htm" title="Chia thừa kế có yếu tố nước ngoài">
                                <img src="http://img.dothi.net/crop/203x134//2015/09/11/Z9BcC3fq/tkn-0a6d.jpg" alt="Chia thừa kế có yếu tố nước ngoài" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/tu-van-luat/chia-thua-ke-co-yeu-to-nuoc-ngoai-ar24623.htm" title="Chia thừa kế có yếu tố nước ngoài">Chia thừa kế có yếu tố nước ngoài</a>
                            <p>Hỏi: Tôi xuất cảnh hợp pháp và định cư tại Canada vào năm 1990. Tháng 8/1991 bố tôi mất và mẹ tôi cũng qua đời vào tháng 1/1994. Bố mẹ tôi đều không để lại di chúc. Còn ông bà nội ngoại của tôi đã qua đời từ lâu. Gia đình tôi có 4 anh chị em, trong đó 3 người là công dân Việt Nam.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/tu-van-luat/duoc-giam-thue-khi-chuyen-doi-muc-dich-su-dung-dat-ar24597.htm" title="Được giảm thuế khi chuyển đổi mục đích sử dụng đất?">
                                <img src="http://img.dothi.net/crop/203x134//2015/09/10/Z9BcC3fq/mtm-044a.jpg" alt="Được giảm thuế khi chuyển đổi mục đích sử dụng đất?" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/tu-van-luat/duoc-giam-thue-khi-chuyen-doi-muc-dich-su-dung-dat-ar24597.htm" title="Được giảm thuế khi chuyển đổi mục đích sử dụng đất?">Được giảm thuế khi chuyển đổi mục đích sử dụng đất?</a>
                            <p>Hỏi: Hiện tôi đang sở hữu 100m2 đất vườn và chưa có nhà ở. Xin hỏi Luật sư, tôi có được phép chuyển đổi 100m2 đất vườn thành đất thổ cư hay không? Khi chuyển đổi thì tiền chuyển thổ có được miễn giảm không?</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/tu-van-luat/khong-o-chung-voi-cha-me-ruot-van-duoc-nhan-thua-ke-ar24576.htm" title="Không ở chung với cha mẹ ruột vẫn được nhận thừa kế">
                                <img src="http://img.dothi.net/crop/203x134//2015/09/09/Z9BcC3fq/TKDS-3481.jpg" alt="Không ở chung với cha mẹ ruột vẫn được nhận thừa kế" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/tu-van-luat/khong-o-chung-voi-cha-me-ruot-van-duoc-nhan-thua-ke-ar24576.htm" title="Không ở chung với cha mẹ ruột vẫn được nhận thừa kế">Không ở chung với cha mẹ ruột vẫn được nhận thừa kế</a>
                            <p>Hỏi: Vào năm 1970 do hoàn cảnh kinh tế gia đình khó khăn, nhà đông anh em nên cha mẹ tôi đã quyết định cho tôi về sống với một người anh của cha tôi. Tôi sống chung với người bác và kêu hai bác toi bằng bố mẹ.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/tu-van-luat/nha-mua-tra-gop-chung-phan-chia-the-nao-khi-ly-hon-ar24550.htm" title="Nhà mua trả góp chung, phân chia thế nào khi ly hôn?">
                                <img src="http://img.dothi.net/crop/203x134//2015/09/08/Z9BcC3fq/cts-0caa.jpg" alt="Nhà mua trả góp chung, phân chia thế nào khi ly hôn?" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/tu-van-luat/nha-mua-tra-gop-chung-phan-chia-the-nao-khi-ly-hon-ar24550.htm" title="Nhà mua trả góp chung, phân chia thế nào khi ly hôn?">Nhà mua trả góp chung, phân chia thế nào khi ly hôn?</a>
                            <p>Hỏi: Tôi có mua một căn nhà theo hình thức trả góp trước khi kết hôn. Căn nhà này đứng tên tôi song khoản vay ngân hàng thì chưa được chi trả. Hiện tôi đã kết hôn và các khoản nợ cũng đã trả hết.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/tu-van-luat/nha-dang-tranh-chap-co-duoc-thay-doi-hien-trang-ar24533.htm" title="Nhà đang tranh chấp, có được thay đổi hiện trạng?">
                                <img src="http://img.dothi.net/crop/203x134//2015/09/07/Z9BcC3fq/tcnc-18b9.jpg" alt="Nhà đang tranh chấp, có được thay đổi hiện trạng?" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/tu-van-luat/nha-dang-tranh-chap-co-duoc-thay-doi-hien-trang-ar24533.htm" title="Nhà đang tranh chấp, có được thay đổi hiện trạng?">Nhà đang tranh chấp, có được thay đổi hiện trạng?</a>
                            <p>Xin chào Luật sư! Hiện 2 anh em tôi đang kiện tranh chấp di sản thừa kế là là ngôi nhà của bố mẹ tôi để lại. Căn nhà này đang được vợ chồng em tôi sử dụng, quản lý. Vừa qua, trong khi vụ kiện chưa ngả ngũ thì vợ chồng em tôi đã tự ý xây dựng thêm 1 tầng lầu mà không được sự đồng ý của tôi.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/tu-van-luat/khong-bat-buoc-mua-bao-hiem-khi-thuc-hien-vay-goi-30000-ty-ar24519.htm" title="Không bắt buộc mua bảo hiểm khi thực hiện vay gói 30.000 tỷ">
                                <img src="http://img.dothi.net/crop/203x134//2015/09/07/Z9BcC3fq/tindung-fa5d.jpg" alt="Không bắt buộc mua bảo hiểm khi thực hiện vay gói 30.000 tỷ" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/tu-van-luat/khong-bat-buoc-mua-bao-hiem-khi-thuc-hien-vay-goi-30000-ty-ar24519.htm" title="Không bắt buộc mua bảo hiểm khi thực hiện vay gói 30.000 tỷ">Không bắt buộc mua bảo hiểm khi thực hiện vay gói 30.000 tỷ</a>
                            <p>Ông Nguyễn Tấn Trung, cư trú tại Tp.HCM đã thực hiện ký hợp đồng mua căn chung cư với bên chủ đầu tư và được vay vốn hỗ trợ của gói tín dụng 30.000 tỷ đồng. Ông đã hoàn tất hồ sơ thủ tục vay 540 triệu đồng của Ngân hàng BIDV (TMCP Đầu tư và Phát triển Việt Nam).</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/tu-van-luat/xay-mai-che-phai-cach-tim-duong-bao-xa-khi-nha-nam-tren-duong-lien-xa-ar24461.htm" title="Xây mái che phải cách tim đường bao xa khi nhà nằm trên đường liên xã?">
                                <img src="http://img.dothi.net/crop/203x134//2015/09/01/Z9BcC3fq/DLX-61df.jpg" alt="Xây mái che phải cách tim đường bao xa khi nhà nằm trên đường liên xã?" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/tu-van-luat/xay-mai-che-phai-cach-tim-duong-bao-xa-khi-nha-nam-tren-duong-lien-xa-ar24461.htm" title="Xây mái che phải cách tim đường bao xa khi nhà nằm trên đường liên xã?">Xây mái che phải cách tim đường bao xa khi nhà nằm trên đường liên xã?</a>
                            <p>Hỏi: Ngôi nhà mà tôi đang ở được xây dựng bằng bê tông cốt thép trên tuyến đường liên xã và đã có giấy phép xây dựng theo quy định. Hiện tại, tôi muốn xây thêm mái che không kiên cố, theo đúng quy định thì phải xây cách tim đường bao xa ?</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/tu-van-luat/se-thu-tien-su-dung-dat-khi-duoc-cap-giay-chung-nhan-ar24417.htm" title="Sẽ thu tiền sử dụng đất khi được cấp Giấy chứng nhận">
                                <img src="http://img.dothi.net/crop/203x134//2015/08/28/Z9BcC3fq/datvuon-a41a.jpg" alt="Sẽ thu tiền sử dụng đất khi được cấp Giấy chứng nhận" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/tu-van-luat/se-thu-tien-su-dung-dat-khi-duoc-cap-giay-chung-nhan-ar24417.htm" title="Sẽ thu tiền sử dụng đất khi được cấp Giấy chứng nhận">Sẽ thu tiền sử dụng đất khi được cấp Giấy chứng nhận</a>
                            <p>Hỏi: Hiện gia đình tôi có thửa đất với diện tích 1.200m2, trong đó có nhà ở, vườn cây và ao thả cá. Riêng ao thả cá gia đình nhận thầu có đóng góp cho xã. Phần đất này nằm liền trong thửa đất mà gia đình tôi được xã giao từ năm 1982, hiện không vi phạm, không tranh chấp và nộp thuế đầy đủ hàng năm.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/tu-van-luat/truong-hop-thua-ke-nha-dat-khong-phu-thuoc-vao-di-chuc-ar24399.htm" title="Trường hợp thừa kế nhà đất không phụ thuộc vào di chúc">
                                <img src="http://img.dothi.net/crop/203x134//2015/08/27/Z9BcC3fq/tknd-c35d.jpg" alt="Trường hợp thừa kế nhà đất không phụ thuộc vào di chúc" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/tu-van-luat/truong-hop-thua-ke-nha-dat-khong-phu-thuoc-vao-di-chuc-ar24399.htm" title="Trường hợp thừa kế nhà đất không phụ thuộc vào di chúc">Trường hợp thừa kế nhà đất không phụ thuộc vào di chúc</a>
                            <p>Hỏi: Vào tháng 1/1985 tôi kết hôn và hiện đã có 2 đứa con. Tuy nhiên, chồng tôi luôn nghi ngờ đứa con nhỏ không phải là con anh ấy. Vì thế, cuộc sống gia đình không êm ấm. Căn nhà mà vợ chồng tôi ở đứng tên anh ấy.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/tu-van-luat/cha-mat-chau-noi-duoc-thua-ke-nha-do-ong-ba-de-lai-ar24362.htm" title="Cha mất, cháu nội được thừa kế nhà do ông bà để lại">
                                <img src="http://img.dothi.net/crop/203x134//2015/08/25/Z9BcC3fq/NCDM-767e.jpg" alt="Cha mất, cháu nội được thừa kế nhà do ông bà để lại" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/tu-van-luat/cha-mat-chau-noi-duoc-thua-ke-nha-do-ong-ba-de-lai-ar24362.htm" title="Cha mất, cháu nội được thừa kế nhà do ông bà để lại">Cha mất, cháu nội được thừa kế nhà do ông bà để lại</a>
                            <p>Hỏi: Ông bà nội tôi khi mất không để lại di chúc. Trong khi đó, ông bà có để lại một căn nhà cổ. Theo cô chú tôi, do cha tôi mất trước nên tôi không còn quyền thừa kế phần di sản của ông tôi nữa, trừ trường hợp ông bà có để lại di chúc cho tôi.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/tu-van-luat/co-phai-chua-khoang-lui-khi-xay-nha-ar24343.htm" title="Có phải chừa khoảng lùi khi xây nhà?">
                                <img src="http://img.dothi.net/crop/203x134//2015/08/24/Z9BcC3fq/klxn-4a58.jpg" alt="Có phải chừa khoảng lùi khi xây nhà?" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/tu-van-luat/co-phai-chua-khoang-lui-khi-xay-nha-ar24343.htm" title="Có phải chừa khoảng lùi khi xây nhà?">Có phải chừa khoảng lùi khi xây nhà?</a>
                            <p>Hỏi: Hiện tôi đang định xây nhà. Tuy nhiên, khi nộp hồ sơ lên quận xin phép xây mới đã bị trả về do phần sau nhà không trừ khoảng lùi 2m để bảo đảm phòng cháy chữa cháy, trong khi nhà dài chỉ có 10m. Những nhà xung quanh xây trước đó cũng không chừa khoảng lùi này.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/tu-van-luat/sap-nhap-tai-san-rieng-thanh-cua-chung-sau-khi-ket-hon-ar24317.htm" title="Sáp nhập tài sản riêng thành của chung sau khi kết hôn">
                                <img src="http://img.dothi.net/crop/203x134//2015/08/21/Z9BcC3fq/chr-0e37.jpg" alt="Sáp nhập tài sản riêng thành của chung sau khi kết hôn" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/tu-van-luat/sap-nhap-tai-san-rieng-thanh-cua-chung-sau-khi-ket-hon-ar24317.htm" title="Sáp nhập tài sản riêng thành của chung sau khi kết hôn">Sáp nhập tài sản riêng thành của chung sau khi kết hôn</a>
                            <p>Hỏi: Hiện tôi mới kết hôn được 02 tháng. Trong ngày cưới, bố mẹ cho tôi một mảnh đất để xây cửa hàng kinh doanh và một chiếc xe máy.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/tu-van-luat/co-mat-loi-di-khi-ngan-hang-phat-mai-nha-ar24303.htm" title="Có mất lối đi khi ngân hàng phát mãi nhà?">
                                <img src="http://img.dothi.net/crop/203x134//2015/08/20/Z9BcC3fq/npm-f252.jpg" alt="Có mất lối đi khi ngân hàng phát mãi nhà?" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/tu-van-luat/co-mat-loi-di-khi-ngan-hang-phat-mai-nha-ar24303.htm" title="Có mất lối đi khi ngân hàng phát mãi nhà?">Có mất lối đi khi ngân hàng phát mãi nhà?</a>
                            <p>Hỏi: Hiện gia đình tôi đang sử dụng một phần diện tích đất của vợ chồng anh chị tôi. Phần đất này đã có giấy chuyển nhượng từ tháng 5/2006, tuy nhiên giấy này vẫn chưa được công chứng.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/tu-van-luat/thu-tuc-khieu-nai-boi-thuong-thu-hoi-dat-ar24232.htm" title="Thủ tục khiếu nại bồi thường thu hồi đất">
                                <img src="http://img.dothi.net/crop/203x134//2015/08/13/Z9BcC3fq/khieunai-1200.jpg" alt="Thủ tục khiếu nại bồi thường thu hồi đất" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/tu-van-luat/thu-tuc-khieu-nai-boi-thuong-thu-hoi-dat-ar24232.htm" title="Thủ tục khiếu nại bồi thường thu hồi đất">Thủ tục khiếu nại bồi thường thu hồi đất</a>
                            <p>Hỏi: Gia đình tôi đã mua mảnh đất 39.876m2 ở xã Thạnh Phú thuộc huyện Vĩnh Cửu, tỉnh Đồng Nai vào năm 1992 và xây nhà ở, trồng cây tràm trên đó. Đến nay, mảnh đất đó của gia đình tôi bị thu hồi nên tôi muốn hỏi về thủ tục khiếu nại bồi thường như thế nào?</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
                    <li>
                        <div class="liimg">
                            <a href="/tu-van-luat/phi-bao-lanh-mua-ban-nha-co-thuong-luong-duoc-khong-ar23898.htm" title="Phí bảo lãnh mua bán nhà có thương lượng được không?">
                                <img src="http://img.dothi.net/crop/203x134//2015/07/09/Z9BcC3fq/nhao-e894.jpg" alt="Phí bảo lãnh mua bán nhà có thương lượng được không?" />
                            </a>
                        </div>
                        <div class="litext">
                            <a href="/tu-van-luat/phi-bao-lanh-mua-ban-nha-co-thuong-luong-duoc-khong-ar23898.htm" title="Phí bảo lãnh mua bán nhà có thương lượng được không?">Phí bảo lãnh mua bán nhà có thương lượng được không?</a>
                            <p>Hỏi: Khi biết được thông tin bắt đầu từ ngày 1/7/2015, các dự án nhà ở hình thành trong tương lai phải mua bảo lãnh khi bán cho khách hàng, tôi vừa mừng vừa lo.</p>
                            
                        </div>
                        <div class="clear"></div>
                    </li>
                
        </ul>
    </div>
    <div class="pager_controls">
        <a href='/tu-van-luat.htm'  title='P1'><div  class='style-pager-row-selected' align='center'>1</div></a><a href='/tu-van-luat/p2.htm'  title='P2'><div  class='style-pager-row' align='center'>2</div></a><a href='/tu-van-luat/p3.htm'  title='P3'><div  class='style-pager-row' align='center'>3</div></a><a href='/tu-van-luat/p4.htm'  title='P4'><div  class='style-pager-row' align='center'>4</div></a><a href='/tu-van-luat/p2.htm'  title='P2'><div  class='style-pager-button-next-first-last' align='center'>Trang sau</div></a><a href='/tu-van-luat/p4.htm' title='P4'><div  class='style-pager-button-next-first-last' align='center'>Trang cuối</div></a><span id="ContentPlaceHolder1_ctl00_ProductsPager"></span>
    </div>
    <div class="clear"></div>
</div>

</div>
                <div class="clear"></div>
            </div>
            <!-- Content Right -->
            <div class="content-right">
                <!-- Box search list -->
                
<link href="Scripts/jquery-ui.css" rel="stylesheet" />
<div class="box-search">
                    <div class="bs-tab">
                        <div class="tab-sell" id="divSellList">BĐS bán</div>
                        <div class="tab-sell" id="divRentList">BĐS cho thuê</div>
                    </div>
                    <div class="bs-content">
                        <div class="bs-item" id="KeyDownEnterHome" style="background:none;">
                            <input name="ctl00$ContentPlaceHolder1$BoxSearchList1$txtAutoComplete" type="text" id="txtAutoComplete" class="ui-autocomplete-input" placeholder="Nhập địa điểm, vd: The Manor" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" />
                        </div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboType" id="hddcboType" value="-1" />
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboCate" id="hddcboCate" value="12" />
                        <div class="bs-item" id="cboCate"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboCity" id="hddcboCity" value="VN" />
                        <div class="bs-item" id="cboCity"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboDist" id="hddcboDist" value="-1" />
                        <div class="bs-item" id="cboDist"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboArea" id="hddcboArea" value="-1" />
                        <div class="bs-item" id="cboArea"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboPrice" id="hddcboPrice" value="-1" />
                        <div class="bs-item" id="cboPrice"></div>
                        <div id="bs-advance">
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboWard" id="hddcboWard" value="-1" />
                        <div class="bs-item" id="cboWard"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboStreet" id="hddcboStreet" value="-1" />
                        <div class="bs-item" id="cboStreet"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboDirection" id="hddcboDirection" value="-1" />
                        <div class="bs-item" id="cboDirection"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboRoom" id="hddcboRoom" value="-1" />
                        <div class="bs-item" id="cboRoom"></div>
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$BoxSearchList1$hddcboProject" id="hddcboProject" value="-1" />
                        <div class="bs-item" id="cboProject"></div>
                            </div>
                        <div class="bs-action">
                            <div class="bs-advance"><a id="hplAdvance" href="javascript:ShowBSAdvance();">Tìm kiếm nâng cao</a></div>
                            <div class="bs-search">
                                 <a id="ContentPlaceHolder1_BoxSearchList1_lbtSearch" class="btnsearch" href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$BoxSearchList1$lbtSearch&#39;,&#39;&#39;)"><img src="Images/btnSearch.png" /></a>

                            </div>
                        </div>
                    </div>
                </div>

<script src="Scripts/BoxSearchList.min.js?v=20150922" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        var cnt = 0;
        $("#KeyDownEnterHome").keyup(function (event) {
            if (event.keyCode == 13 && cnt > 0) {
                cnt = 0;
                window.__doPostBack('ctl00$ContentPlaceHolder1$BoxSearchList1$lbtSearch', '');
            }
            else if (event.keyCode == 13) {
                cnt++;
            }
        });
    });
</script>
                <!-- News hight light -->
                
<div class="news-hightlight">
    <div class="nh-title">
        <h3><a href="javascript:">Tin tức nổi bật</a></h3>
    </div>
    <div class="nh-content">
        <ul>
            
                    <li>
                        <a href="/bds-the-gioi/bo-dao-nha-thi-truong-bat-dong-san-khoi-sac-ar24653.htm" title="Bồ Đào Nha: Thị trường bất động sản khởi sắc">Bồ Đào Nha: Thị trường bất động sản khởi sắc</a>
                    </li>
                
                    <li>
                        <a href="/chinh-sach-quy-hoach/ha-noi-225-biet-thu-duoc-xac-dinh-gia-tri-dac-biet-ar24651.htm" title="Hà Nội: 225 biệt thự được xác định giá trị đặc biệt">Hà Nội: 225 biệt thự được xác định giá trị đặc biệt</a>
                    </li>
                
                    <li>
                        <a href="/tu-van-luat/dat-thuoc-loai-nao-thi-duoc-vay-von-ho-tro-xay-nha-ar24650.htm" title="Đất thuộc loại nào thì được vay vốn hỗ trợ xây nhà?">Đất thuộc loại nào thì được vay vốn hỗ trợ xây nhà?</a>
                    </li>
                
                    <li>
                        <a href="/chinh-sach-quy-hoach/ha-noi-trong-8-thang-dau-nam-moi-giao-duoc-30-dat-dich-vu-ar24648.htm" title="Hà Nội: Trong 8 tháng đầu năm mới giao được 30% đất dịch vụ">Hà Nội: Trong 8 tháng đầu năm mới giao được 30% đất dịch vụ</a>
                    </li>
                
                    <li>
                        <a href="/chinh-sach-quy-hoach/bo-tai-chinh-de-xuat-mien-thue-dat-cho-muc-nop-duoi-50000-dongnam-ar24647.htm" title="Bộ Tài chính đề xuất miễn thuế đất cho mức nộp dưới 50.000 đồng/năm">Bộ Tài chính đề xuất miễn thuế đất cho mức nộp dưới 50.000 đồng/năm</a>
                    </li>
                
        </ul>
        <div class="clear"></div>
    </div>
</div>

                <!-- Hot toppic -->
                
<div class="product-count">
                    <div class="pc-title">
                        <div class="pc-icon">
                            <img src="/Styles/Images/icon-foruser.png" />
                        </div>
                        <h3>Chủ đề được quan tâm</h3>
                    </div>
                    <div class="pc-content pc-content-hottoppic">
                        <ul id="ulProductCount">
                             
                            <li>
                                <h3>
                                    <a href="/chu-de/tien-su-dung-dat.htm" title='Tiền sử dụng đất'>
                                       Tiền sử dụng đất
                                    </a>
                                </h3>
                            </li> 
                             
                            <li>
                                <h3>
                                    <a href="/chu-de/nguoi-nuoc-ngoai-mua-nha.htm" title='Người nước ngoài mua nhà'>
                                       Người nước ngoài mua nhà
                                    </a>
                                </h3>
                            </li> 
                             
                            <li>
                                <h3>
                                    <a href="/chu-de/so-do-so-hong.htm" title='Sổ đỏ, sổ hồng'>
                                       Sổ đỏ, sổ hồng
                                    </a>
                                </h3>
                            </li> 
                             
                            <li>
                                <h3>
                                    <a href="/chu-de/quan-ly-su-dung-nha-dat.htm" title='Quản lý, sử dụng nhà, đất'>
                                       Quản lý, sử dụng nhà, đất
                                    </a>
                                </h3>
                            </li> 
                             
                            <li>
                                <h3>
                                    <a href="/chu-de/thu-hoi-dat.htm" title='Thu hồi đất'>
                                       Thu hồi đất
                                    </a>
                                </h3>
                            </li> 
                             
                        </ul>
                    </div>
                </div>
                
                <!-- Utility -->
                
<div class="utility">
    <div class="utility-title">
        <h3>Tính năng hỗ trợ</h3>
    </div>
    <div class="utility-content">
        <ul>
            <li class="email"><a rel="nofollow" href="javascript:" id="UtilityRegisterEmail" class="fancybox.ajax">Nhận bđs qua email</a></li>
            <li class="lifengshui"><a  rel="nofollow" href="javascript:" id="UtilityFengShui" class="fancybox.ajax">Xem phong thủy theo tuổi</a></li>
            
            <li class="laixuat"><a  rel="nofollow" href="javascript:" id="UtilityInterest" class="fancybox.ajax">Tính lãi suất vay ngân hàng</a></li>
            
            <li class="vanban "><a  rel="nofollow" href="/van-ban-nganh-xay-dung.htm">Văn bản ngành xây dựng</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

                

<div class="product-count">
    <div class="pc-title">
        <div class="pc-icon">
            <img src="/Styles/Images/icon-foruser.png" />
        </div>
        <h3>Liên kết nổi bật</h3>
    </div>
    <div class="pc-content">
        <ul id="ulBoxHotHome">
            <li>
                <h3><a href="/ban-dat-nen-du-an-phu-nhuan.htm">Bán đất nền Quận Phú Nhuận</a></h3>
            </li>
            <li>
                <h3><a href="/ban-dat-nen-du-an-quan-9.htm">Bán đất nền Quận 9</a></h3>
            </li>
            <li>
                <h3><a href="/ban-dat-nen-du-an-phuong-an-phu-dong-1.htm">Bán đất nền phường An Phú Đông </a></h3>
            </li>

            <li>
                <h3><a href="/ban-dat-nen-du-an-phu-quoc-kg.htm">Bán Đất nền Phú Quốc</a></h3>
            </li>

            <li>
                <h3><a href="/ban-can-ho-chung-cu-jamona-city.htm">Bán chung cư Jamona Apartment </a></h3>
            </li>

            <li>
                <h3><a href="/ban-dat-nen-du-an-binh-duong.htm">Bán đất nền Bình Dương</a></h3>
            </li>

            <li>
                <h3><a href="/ban-can-ho-chung-cu-bac-tu-liem.htm">Bán chung cư Quận Bắc Từ Liêm</a></h3>
            </li>

            <li>
                <h3><a href="/ban-dat-nen-du-an-ben-cat-bd.htm">Bán đất nền Huyện Bến Cát</a></h3>
            </li>

            <li>
                <h3><a href="/ban-nha-biet-thu-lien-ke-phuong-phu-huu-2.htm">Bán liền kề phường Phú Hữu</a></h3>
            </li>

            <li>
                <h3><a href="/ban-dat-nen-du-an-quan-2.htm">Bán đất nền Quận 2 </a></h3>
            </li>

            <li>
                <h3><a href="/ban-can-ho-chung-cu-binh-tan.htm">Bán chung cư quận Bình Tân</a></h3>
            </li>

            <li>
                <h3><a href="/ban-dat-nen-du-an-di-an-bd.htm">Bán đất nền Huyện Dĩ An</a></h3>
            </li>

            <li>
                <h3><a href="/ban-can-ho-chung-cu-ha-dong.htm">Bán chung cư Quận Hà Đông</a></h3>
            </li>

            <li>
                <h3><a href="/ban-can-ho-chung-cu-quan-7.htm">Bán chung cư quận 7</a></h3>
            </li>

            <li>
                <h3><a href="/ban-dat-nen-du-an-quan-12.htm">Bán đất nền Quận 12</a></h3>
            </li>

            <li>
                <h3><a href="/ban-dat-nen-du-an-thu-duc.htm">Bán đất nền Quận Thủ Đức</a></h3>
            </li>

            <li>
                <h3><a href="/ban-can-ho-chung-cu-nam-tu-liem.htm">Bán chung cư Quận Nam Từ Liêm</a></h3>
            </li>
            <li>
                <h3><a href="/ban-dat-nen-du-an-tan-uyen-bd.htm">Bán đất nền Huyện Tân Uyên</a></h3>
            </li>
            <li style="display: none">
                <h3><a href="/ban-dat-nen-du-an-thuan-an-bd.htm">Bán đất nền Huyện Thuận An</a></h3>
            </li>
   
            <li style="display: none">
                <h3><a href="/ban-can-ho-chung-cu-hoang-mai.htm">Bán chung cư Quận Hoàng Mai</a></h3>
            </li>
            <li style="display: none">
                <h3><a href="/ban-can-ho-chung-cu-cau-giay.htm">Bán chung cư Quận Cầu Giấy</a></h3>
            </li>
            <li style="display: none">
                <h3><a href="/ban-can-ho-chung-cu-thanh-xuan.htm">Bán chung cư Quận Thanh Xuân</a></h3>
            </li>
            <li style="display: none">
                <h3><a href="/ban-dat-nen-du-an-phuong-tan-hung-thuan-1.htm">Bán đất nền phường Tân Hưng Thuận</a></h3>
            </li>
            <li style="display: none">
                <h3><a href="/ban-nha-rieng-phuong-nghia-tan-3.htm">Bán nhà Nghĩa Tân</a></h3>
            </li>
            <li style="display: none">
                <h3><a href="/ban-can-ho-chung-cu-hai-ba-trung.htm">Bán chung cư Quận Hai Bà Trưng</a></h3>
            </li>
            <li style="display: none">
                <h3><a href="/ban-can-ho-chung-cu-long-bien.htm">Bán chung cư Quận Long Biên</a></h3>
            </li>

        </ul>
        <div class="pc-extra" id="showBoxhotHome">
            <a href="javascript:showBoxHotHome();" rel="nofollow">
                <img src="Images/xemtatca.png" />
            </a>
        </div>
    </div>
</div>

                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

            <div class="clear"></div>
        </div>
        <!-- Footer -->
        
<div class="footer">
    <div class="menu-bottom">
        <ul>
            <li><a href="/gioi-thieu.htm" rel="nofollow">Giới thiệu</a></li>
            <li><a href="/huong-dan.htm" rel="nofollow">Hướng dẫn sử dụng</a></li>
            <li><a href="/quy-dinh.htm" rel="nofollow">Quy định</a></li>
            <li><a href="/lien-he.htm" rel="nofollow">Liên hệ</a></li>
            
            <li><a href="/dieu-khoan.htm" rel="nofollow">Điều khoản thỏa thuận</a></li>
             <li><a href="/bao-gia.htm" rel="nofollow">Báo giá</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="footer_bottom">
        <div class="row_footer">
            <div class="logo_footer">
                <a href="/" title="Đô thị">
                    <img src="Images/logo.png" alt="Đô thị"></a>
            </div>
            <div class="info_footer">
                <p>Giấy phép hoạt động trang tin điện tử ICP số 23/GP-TTĐT.</p>
                <p>Copyright © 2010 - 2015 Dothi.net. ® Ghi rõ nguồn "Dothi.net" khi phát hành lại thông tin từ website này.</p>
                <p class="info_ct">
                    <span>Hot line:  0903 236 862 - 0969 980 365 </span>
                    <a rel="nofollow" href="mailto:cskh@info@dothi.net?Subject=Liên hệ-info@dothi.net" target="_top">Email: info@dothi.net</a>
                    <a href="skype:cskh.dothinet?chat" rel="nofollow">Skype: cskh.dothinet</a>
                    <a href="ymsgr:sendim?cskh.dothinet" rel="nofollow">Yahoo: cskh.dothinet</a>
                </p>
                <p class="info_ct">
                    <span>Địa chỉ: Số 80B - Nguyễn Văn Cừ - Long Biên - HN.</span>
                </p>
            </div>
            <div class="clear">
            </div>
            <div class="bd_footer"></div>
        </div>
        <div class="share_footer">
            <span style="float: left;">Phát triển bởi: <a href="http://vgroup.vn" rel="nofollow" title="VGROUP" target="_blank" class="color00ffd1">VGROUP</a></span>
            <iframe src="//www.facebook.com/plugins/like.php?href=https://www.facebook.com/pages/Dothinet/501286850027197&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21" scrolling="no" frameborder="0" style="border: none;overflow: hidden;height: 21px;float: left;width: 165px;margin-left: 20px;" allowtransparency="true"></iframe>
            <script src="https://apis.google.com/js/platform.js" async defer>
                         {lang: 'vi'}
            </script>
            <!-- Đặt thẻ này vào nơi bạn muốn Nút +1 kết xuất. -->
            <div class="g-plusone" data-size="medium" data-annotation="inline" data-href="https://plus.google.com/u/2/104751964857878543083/posts" data-width="100"></div>
            <a class="twitter-share-button"
                href="https://twitter.com/share">Tweet
            </a>
            <script type="text/javascript">
                window.twttr = (function (d, s, id) { var t, js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) { return } js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } }) }(document, "script", "twitter-wjs"));
            </script>

        </div>
    </div>
    <div class="clear"></div>
</div>

        <div id="boxProductSaved" style="">
            <div class="titlebox">
                <span class="title">Tin đã lưu</span> <span id="deleteAll" title="Xóa tất cả" onclick="deleteAllNews();"></span><span id="btn_close" class="hideAll"></span>
            </div>
            <div>
                <ul class="listbox" style="width: 100%;">
                </ul>
            </div>
        </div>
        <!-- End Footer -->
        <div id="SiteLeft" style="display: none">
            <div class="ban_scroll" id="ban_left" style="width: 100px">
                <div class="item">
                    <embed id="ban_l1" width="100" height="300" quality="high" name="plugin" src="Images/banner/banner-150820-100x300.swf" flashvars="link=http://file.dothi.net/KM/dang-tin-rinh-qua-khung.html" type="application/x-shockwave-flash" wmode="transparent">
                </div>
                <div class="item">
                    <a id="ban_l2" href="http://banxehoi.com" rel="nofollow" target="_blank" style="width: 100px">
                        <img src="Images/banner/100x300-dang-tin-mau-ban-xe-hoi.gif" />
                    </a>
                </div>
            </div>
        </div>
        <div id="SiteRight" style="display: none">
            <div class="ban_scroll" id="ban_right" style="width: 100px">
                <div class="item">
                    <embed id="ban_r1" width="100" height="300" quality="high" name="plugin" src="Images/banner/banner-150820-100x300.swf" flashvars="link=http://file.dothi.net/KM/dang-tin-rinh-qua-khung.html" type="application/x-shockwave-flash" wmode="transparent">
                </div>
                <div class="item">
                    <a id="ban_r2" href="http://banxehoi.com" rel="nofollow" target="_blank" style="width: 100px">
                        <img src="Images/banner/100x300-dang-tin-mau-ban-xe-hoi.gif" />
                    </a>
                </div>
            </div>
        </div>

    </form>
</body>
</html>
